{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability:: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }} class="product-buy-buttons">
    {%- if product != blank -%}
        <product-form class="product-form">
            <div class="product-form__error-message-wrapper fix-direction" role="alert" hidden>
                <span class="product-form__error-message"></span>
            </div>

            {%- form 'product',
                    product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
            -%}
                <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        disabled
                        class="product-variant-id"
                >
                <div class="product-form__buttons">
                    {%- liquid
                        assign members_only = false
                        assign check_against_inventory = true
                        if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                            assign check_against_inventory = false
                        endif
                        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                            assign quantity_rule_soldout = true
                        endif
                        if member_tag != blank
                            assign members_only = true
                        endif
                        if members_only == true
                            if customer and members_only_sale_active == true
                                assign members_only = false
                            else
                                assign members_only = true
                            endif
                        endif
                    -%}
                    <button
                            id="ProductSubmitButton-{{ section_id }}"
                            type="submit"
                            name="add"
                            class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}{% if product.tags contains member_tag and members_only == true %} fake-disabled{% endif %}"
                            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                                disabled
                            {% endif %}
                            {% if product.tags contains member_tag and members_only %}
                                disabled
                            {% endif %}
                    >
            <span class="{% if product.tags contains member_tag and members_only == true and members_only_sale_active %}account-toggler-site-wide{% endif %} fix-direction">
              {%- if product.tags contains member_tag and members_only == true -%}
                  {% if members_only_sale_active == true %}
                        {{ 'products.product.members_only' | t }} <span class="link">התחברי / הרשמי</span>
                    {% else %}
                        {{ block.settings.members_only_sale_over_text }}
                    {% endif %}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
                        <div class="loading-overlay__spinner hidden">
                            <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    class="spinner"
                                    viewBox="0 0 66 66"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33"
                                        r="30"></circle>
                            </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                    {%- endif -%}
                </div>
            {%- endform -%}
        </product-form>
    {%- else -%}
        <div class="product-form">
            <div class="product-form__buttons form">
                <button
                        type="submit"
                        name="add"
                        class="product-form__submit button button--full-width button--primary"
                        disabled
                >
                    {{ 'products.product.sold_out' | t }}
                </button>
            </div>
        </div>
    {%- endif -%}

    {%- if show_pickup_availability -%}
        {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

        {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
                | where: 'pick_up_enabled', true
        -%}

        <pickup-availability
                class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                    available
                {% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
        >
            <template>
                <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                        <button class="pickup-availability-button link link--text underlined-link">
                            {{ 'products.product.pickup_availability.refresh' | t }}
                        </button>
                    </div>
                </pickup-availability-preview>
            </template>
        </pickup-availability>

        <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
</div>
