{% comment %}
  Renders a featured collection view all button.
  Accepts:
  - collection_url: {String} the collection url to redirect on click.
  - collection_title: {String} the collection title to display.
  - style: {String} the button style
  - class_wrapper: {String} class string to add to the wrapper div
  - view_all_text: {String} the text to display on the button

  Usage:
  {% render 'collection-view-all',
    collection_url: collection.url,
    collection_title: collection.title,
    style: section.settings.view_all_style
  %}
{% endcomment %}

<div class="center collection__view-all {{ class_wrapper }}">
    <a
            href="{{ collection_url }}"
            class="{% if style == 'link' %}link underlined-link{% elsif style == 'solid' %}button{% else %}button button--secondary{% endif %} view-all-link"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: collection.title }}"
    >
        {% if view_all_text %}
            {{ view_all_text }}
        {% else %}
            {{ 'sections.featured_collection.view_all' | t }}
        {% endif %}
    </a>
</div>
