{% comment %}
  Renders a tab that expands on click
  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.

  Usage:
  {% render 'collapsible-tab',
    product: product,
    block: block,
  %}
{% endcomment %}

<div class="product__accordion accordion quick-add-hidden rtl" {{ block.shopify_attributes }}>
    <details id="Details-{{ block.id }}-{{ section.id }}">
        <summary>
            <div class="summary__title">
                {% if block.settings.icon != blank %}
                    {% render 'icon-accordion', icon: block.settings.icon %}
                {% endif %}
                <h2 class="h4 accordion__title">
                    {{ block.settings.heading | default: block.settings.page.title }}
                </h2>
            </div>
            {% comment %}{% render 'icon-caret' %}{% endcomment %}
        </summary>
        <div class="accordion__content rte"
             id="ProductAccordion-{{ block.id }}-{{ section.id }}">
            {{ block.settings.content }}
            {{ additional_content }}
            {{ block.settings.page.content }}
            {% case block.settings.product_content %}
                {% when "description" %}
                    {{ product.content }}
                {% when "sizing_table" %}
                    {% render 'product-sizing-table',
                            product: product,
                            block: block
                    %}
                {% when "shipping_information" %}
                    {% render 'product-shipping-information',
                            product: product,
                            block: block
                    %}
                {% when "gift_card_usage" %}
                    {% render 'product-gift-card-usage',
                            product: product,
                            block: block
                    %}
            {% endcase %}
        </div>
    </details>
</div>