<ul class="footer__list-social list-unstyled list-social list-contact">
    {%- if settings.social_whatsapp_link != blank -%}
        <li class="list-social__item">
            <a href="https://wa.me/{{ settings.social_whatsapp_link }}?text=%D7%90%D7%A0%D7%99%20%D7%9E%D7%A2%D7%95%D7%A0%D7%99%D7%99%D7%A0%D7%AA%20%D7%9C%D7%91%D7%A6%D7%A2%20%D7%94%D7%97%D7%9C%D7%A4%D7%94" target="_blank" class="link list-social__link" >
                {%- render 'icon-whatsapp' -%}
                <span class="visually-hidden">{{ 'general.social.links.whatsapp' | t }}</span>
            </a>
        </li>
    {%- endif -%}
    {%- if settings.social_email_link != blank -%}
        <li class="list-social__item">
            <a href="/pages/contact-us" class="link list-social__link">
                {%- render 'icon-email' -%}
                <span class="visually-hidden">{{ 'general.social.links.email' | t }}</span>
            </a>
        </li>
    {%- endif -%}
    {%- if settings.social_phone_link != blank and show_phone != false -%}
    <li class="list-social__item">
        <a href="tel:{{ shop.phone }}" class="link list-social__link" >
            {%- render 'icon-phone' -%}
            <span class="visually-hidden">{{ 'general.social.links.phone' | t }}</span>
        </a>
    </li>
    {%- endif -%}
</ul>