{{ 'size-table.css' | asset_url | stylesheet_tag }}
{{ 'size-table.js' | asset_url | script_tag }}

{% assign allSizesAreCm = '* All measures are in feet and inches' %}

{% if product.type == 'Jumpsuit' %}

    <div class="size-guide-modal size-pop-tops hidden fix-direction">
        <p class="StrongfulX">{% render 'icon-close' %}</p>
        <table class="size-table">
            <thead>
            <tr class="size-table-main-row three-grid">
                <th>מידה</th>
                <th>היקף בית חזה</th>
                <th>מידת חזייה</th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr class="size-table-rows three-grid">
                    <td>{{ variant.title }}</td>
                    <td>{{ variant.metafields.my_fields.size_modal_bust }}</td>
                    <td>{{ variant.metafields.my_fields.bra_size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
<br>
        <table class="size-table">
            <thead>
            <tr class="size-table-main-row five-grid">
                <th>מידה</th>
                <th>מידת מכנסיים</th>
                <th>היקף מתניים</th>
                <th>היקף ירכיים</th>
                <th>אורך</th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr class="size-table-rows five-grid">
                    <td>{{ variant.title }}</td>
                    <td>{{ variant.metafields.my_fields.pants_size }}</td>
                    <td>{{ variant.metafields.my_fields.waist }}</td>
                    <td>{{ variant.metafields.my_fields.hips }}</td>
                    <td>{{ variant.metafields.my_fields.bottom_length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h6 class="cent-exp text-right rtl">{{ allSizesAreCm }}</h6>
    </div>

{% elsif product.type == 'Bra' or product.type == "Top" or product.type == 'Shirt' or product.type == 'Bodysuit' or product.type == 'Dress' or product.type == "Jacket" %}
    <div class="size-guide-modal size-pop-tops hidden fix-direction">
        <p class="StrongfulX">{% render 'icon-close' %}</p>
        <table class="size-table">
            <thead>
            <tr class="size-table-main-row three-grid">
                <th>מידה</th>
                <th>היקף בית חזה</th>
                <th>מידת חזייה</th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr class="size-table-rows three-grid">
                    <td>{{ variant.title }}</td>
                    <td>{{ variant.metafields.my_fields.size_modal_bust }}</td>
                    <td>{{ variant.metafields.my_fields.bra_size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h6 class="cent-exp text-right rtl">{{ allSizesAreCm }}</h6>
    </div>
{% elsif product.type == 'Shorts' or product.type == 'Leggings' or product.type == 'Biker' or product.type == 'Pants' %}
    <div class="size-guide-modal size-pop-bikers hidden fix-direction">
        <p class="StrongfulX">{% render 'icon-close' %}</p>
        <table class="size-table">
            <thead>
            <tr class="size-table-main-row five-grid">
                <th>מידה</th>
                <th>מידת מכנסיים</th>
                <th>היקף מתניים</th>
                <th>היקף ירכיים</th>
                <th>אורך</th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr class="size-table-rows five-grid">
                    <td>{{ variant.title }}</td>
                    <td>{{ variant.metafields.my_fields.pants_size }}</td>
                    <td>{{ variant.metafields.my_fields.waist }}</td>
                    <td>{{ variant.metafields.my_fields.hips }}</td>
                    <td>{{ variant.metafields.my_fields.bottom_length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h6 class="cent-exp text-right rtl">{{ allSizesAreCm }}</h6>
    </div>
{% elsif product.type == "Crop Top" %}
    {% unless product.title contains 'Juicy' or product.title contains 'Claire' %}
        <div class="size-guide-modal size-pop-tops hidden fix-direction">
            <p class="StrongfulX">{% render 'icon-close' %}</p>
            <table class="size-table">
                <thead>
                <tr class="size-table-main-row three-grid">
                    <th>מידה</th>
                    <th>היקף בית חזה</th>
                    <th>מידת חזייה</th>
                </tr>
                </thead>
                <tbody>
                {% for variant in product.variants %}
                    <tr class="size-table-rows three-grid">
                        <td>{{ variant.title }}</td>
                        <td>{{ variant.metafields.my_fields.size_modal_bust }}</td>
                        <td>{{ variant.metafields.my_fields.bra_size }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h6 class="cent-exp text-right rtl">{{ allSizesAreCm }}</h6>
        </div>
    {% else %}
        <div class="size-guide-modal size-pop-tops hidden fix-direction">
            <p class="StrongfulX">{% render 'icon-close' %}</p>
            <table class="size-table">
                <thead>
                <tr class="size-table-main-row four-grid">
                    <th>מידה</th>
                    <th>היקף בית חזה</th>
                    <th>מידת חזייה</th>
                    <th>מידה</th>
                </tr>
                </thead>
                <tbody>
                {% for variant in product.variants %}
                    <tr class="size-table-rows four-grid">
                        <td>{{ variant.title }}</td>
                        <td>{{ variant.metafields.my_fields.size_modal_bust }}</td>
                        <td>{{ variant.metafields.my_fields.bra_size }}</td>
                        <td>{{ variant.metafields.my_fields.bra_size_universal }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h6 class="cent-exp text-right rtl">{{ allSizesAreCm }}</h6>
        </div>
    {% endunless %}
{% endif %}

<div class="size-table-overlay hidden"></div>