<li class="menu-drawer__menu-list-item">
    {%- if childlink.links == blank -%}
        {% assign escapedTitle = childlink.title | escape %}
        <a href="{{ childlink.url }}"
           class="menu-drawer__menu-item link link--text list-menu__item focus-inset
                {% if childlink.current %} menu-drawer__menu-item--active{% endif %}
                {% if escapedTitle == 'כל הטייצים' or escapedTitle == 'כל הסטים' %}
                    bold
                {% endif %}"
        {% if childlink.current %} aria-current="page"{% endif %}>
            {{ childlink.title | escape }}
            {% if menu_type == 'customizable' %}
                {% for collection in collections %}
                    {% if collection.url == childlink.url and collection.image != null %}
                        {{ collection.image | image_url: width: 600 | image_tag:
                        loading: 'lazy',
                        class: "mobile_link_collection_image",
                        sizes: "100vw",
                        widths: '600',
                        height: '600'
                        }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </a>
    {%- else -%}
        <details
                id="Details-menu-drawer-submenu-{{ forloop.index }}">
            <summary
                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset {% if childlink.title contains 'טייצים' %}bold{% endif %}">
                {{ childlink.title | escape }}
                {% render 'icon-caret' %}
            </summary>
            <div id="childlink-{{ childlink.handle | escape }}"
                 class="menu-drawer__submenu has-submenu gradient motion-reduce">
                <button class="menu-drawer__close-button link link--text focus-inset"
                        aria-expanded="true">
                    {% render 'icon-caret' %}
                    {{ childlink.title | escape }}
                </button>
                <ul class="menu-drawer__menu list-menu"
                    role="list"
                    tabindex="-1">
                    {%- for grandchildlink in childlink.links -%}
                        <li>
                            <a href="{{ grandchildlink.url }}"
                               class="menu-drawer__menu-item link link--text list-menu__item focus-inset
                                    {% if grandchildlink.current %}
                                        menu-drawer__menu-item--active
                                    {% endif %}"
                                {% if grandchildlink.current %} aria-current="page"{% endif %}>
                                {{ grandchildlink.title | escape }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </details>
    {%- endif -%}
</li>