{% comment %}
  Renders dropdown that switches the selected model

  Accepts:
  - model_product: product object

  Usage:
  {% render 'model-switcher', model_product: product %}
{% endcomment %}

<div class="model-switcher-overlay hidden">&nbsp;</div>

<div class="model-switcher hidden">
    <div id="model-switch">
        <div class="model-switch-button pointer">
            <span>
            {{ 'products.product.model_switch.button' | t }}
            </span>
            {% render 'icon-caret' %}
        </div>
        <div class="model-switcher__list hidden fix-direction">
            {% for modelName in product.metafields.model.names.value %}
                {% assign model = shop.metaobjects.model[modelName] %}
                <div class="model-switcher__item" data-model-size="{{ model.size_letter.value }}">
                    <input type="radio" name="model" id="model-{{ model.size_letter.value }}"
                           value="{{ model.size_letter.value }}">
                    <label class="pointer" for="model-{{ model.size_letter.value }}">
                        {% for image in product.images %}
                            {% if image.alt contains model.size_letter.value %}
                                {{ image
                                | image_url: width: 600
                                | image_tag: loading: 'lazy', sizes: "400x600", widths: '400' }}
                            {% endif %}
                        {% endfor %}
                        {% if model_product.type contains 'Jumpsuit' or model_product.type contains 'Dress' %}
                            <div class="model-wears-content">
                                <div class="model-wears-text">
                                    {{ 'products.product.model_switch.model_wears_one_product' | t }}
                                    <span class="model-size-bold">
                                        {{ model.size_letter.value }}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="model-wears-content">
                                <p class="model-wears-text">{{ 'products.product.model_switch.model_wears_female' | t }}</p>
                                <p class="model-wears-text">
                                    {{ 'products.product.model_switch.female_top_part' | t }}
                                    <span class="model-size-bold">{{ model.size_letter.value }}</span>
                                </p>
                                <p class="model-wears-text">
                                    {{ 'products.product.model_switch.female_bottom_part' | t }}
                                    <span class="model-size-bold">{{ model.size_letter.value }}</span>
                                </p>
                            </div>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>