{% comment %}
  Renders dropdown that switches the selected model

  Accepts:

  Usage:
  {% render 'model-switcher' %}
{% endcomment %}

<div class="model-switcher fix-direction">
    <details id="model-switch">
        <summary class="model-switch-button">
            <span>
            {{ 'products.product.model_switch.button' | t }}
            </span>
        </summary>
        <div class="model-switcher__list">
            {% for model in shop.metaobjects.model.values %}
                <div class="model-switcher__item" data-model-size="{{ model.size_letter.value }}">
                    <input type="radio" name="model" id="model-{{ model.size_letter.value }}"
                           value="{{ model.size_letter.value }}">
                    <label for="model-{{ model.size_letter.value }}">
                        {{ model.image.value
                        | image_url: width: 400
                        | image_tag: loading: 'lazy', sizes: "100x150", widths: '100' }}
                        {% comment %}<span>{{ model.name.value }} ({{ model.size_letter.value }})</span>{% endcomment %}
                        <div class="model-wears-content">
                            <p class="model-wears-text">{{ 'products.product.model_switch.model_wears_female' | t }}</p>
                            <p class="model-wears-text">
                                {{ 'products.product.model_switch.female_top_part' | t }}
                                <span class="model-size-bold">{{ model.size_letter.value }}</span>
                            </p>
                            <p class="model-wears-text">
                                {{ 'products.product.model_switch.female_bottom_part' | t }}
                                <span class="model-size-bold">{{ model.size_letter.value }}</span>
                            </p>
                        </div>
                    </label>
                </div>
            {% endfor %}
        </div>
    </details>
</div>