<ul class="list list-payment" role="list">
    <li class="list-social__item">
        {%- render 'icon-visa' -%}
        <span class="visually-hidden">{{ 'general.payments.visa' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
    </li>
    <li class="list-social__item">
            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
    </li>
</ul>