<ul class="list list-payment" role="list">
    <li class="list-payment__item list-social__item">
        {%- render 'icon-visa' -%}
        <span class="visually-hidden">{{ 'general.payments.visa' | t }}</span>
    </li>
    <li class="list-payment__item list-social__item">
        {%- render 'icon-mastercard' -%}
        <span class="visually-hidden">{{ 'general.payments.mastercard' | t }}</span>
    </li>
    <li class="list-payment__item list-social__item">
        {%- render 'icon-american-express' -%}
        <span class="visually-hidden">{{ 'general.payments.american' | t }}</span>
    </li>
    <li class="list-payment__item list-social__item">
        {%- render 'icon-googlepay' -%}
        <span class="visually-hidden">{{ 'general.payments.googlepay' | t }}</span>
    </li>
    <li class="list-payment__item list-social__item">
        {%- render 'icon-applepay' -%}
        <span class="visually-hidden">{{ 'general.payments.applepay' | t }}</span>
    </li>
</ul>