{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{% assign similarParent = product.metafields.global.collectionTitle %}

{% unless product.tags contains 'noSimilar' %}
<ul class="similiar
        {% if product.tags contains 'special-edition-sibling' %}
        {% unless product.title contains 'Lerato' %}
        special-edition-product-list
          {% endunless %}
        {% elsif product.tags contains 'special-edition' %}
        {% unless product.title contains 'Lerato' %}
        special-edition-product
          {% endunless %}
        {% endif %}" id="scrollNoSize">
    {% for collection in collections %}
        {% if collection.title == similarParent or collection.title == similarParent.value %}
            {% for product in collection.products %}
                <li class="relative-discount similiar-child {% if product.tags contains 'special-edition' %}special-edition{% elsif product.tags contains 'special-edition-family' %}special-edition-sibling{% endif %} {{ forloop.index0 }}">
                    <a href="{{ product.url }}" class="similar-a">
                        <img src="{{ product.featured_image | product_img_url: 'master' }}"
                             srcset="{{ product.featured_image | product_img_url: '200x' }} 200w,
                    {{ product.featured_image | product_img_url: '300x' }} 300w,
                    {{ product.featured_image | product_img_url: '400x' }} 400w,
                    {{ product.featured_image | product_img_url: '600x' }} 600w"
                             alt="{{ product.title | escape }}" class="similar-child-img" loading="lazy"/>
                    </a>
                    <p class="productVendor">{{ product.vendor }}</p>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
{% endunless %}

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      id="variant-radios-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input {% if product.title == 'גיפט קארד' %}gift-card-product-form__input{% endif %}">
          <legend class="form__label">{{ option.name }}</legend>
            {% for model in shop.metaobjects.model.values %}
                {% if product.tags contains model.name %}
            <legend class="model-wears-size" data-model="{{ model.size_letter.value }}">הדוגמנית לובשת <span class="bold">{{ option.name }} {{ model.size_letter.value }}</span></legend>
                {% endif %}
            {% endfor %}
          {% render 'product-variant-options', product: product, option: option, block: block %}
        </fieldset>
      {%- endfor -%}
        {% unless product.tags contains 'noSizeTable' %}
            <p class="size-table-toggler pointer">{{ 'products.product.size_table' | t }}</p>
        {% endunless %}
        <p class="out-of-stock out-of-stock-toggle pointer" id="outOfStock">{{ 'products.product.missing_size_toggler' | t }}</p>
        <p class="out-of-stock out-of-stock-explain hidden">{{ 'products.product.missing_size_explanation' | t }}</p>
        {% render 'back-in-stock' %}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
