{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - wrapper_class: {String} additional class for the wrapper
  - submit_on_click: {Boolean} should clicking an option add to cart or show a seperate button for adding to cart.
  - is_modal: {Boolean} is modal or hover
  - id: {String} parent id.
  - pick_size_text: {String} text for the quick add button container header.
  - quick_add_text: {String} text for the quick add button.
  - quick_add_accessories_text: {String} text for the quick add button for accessories.
  - members_only_sale: {Boolean} is members only sale.

  Usage:
  {% render 'product-size-picker', product: product %}
{% endcomment %}

    {% if is_modal %}
        <div class="variant_modal_overlay" id="{{ id | append: "-overlay" }}">&nbsp;</div>
        <div class="variant_modal variant_selector submit_on_click"
             id="{{ id }}">
            <div class="quick-add-variant-modal mobile no-js-hidden"
                 id="quick_add_modal-{{ section.id }}-{{ card_product.id }}">
                <div class="quick_add_modal-header-container">
                    <p class="product_size_picker__header-text fix-direction bold">
                        {% unless product.has_only_default_variant %}
                            {{ quick_add_text }}
                        {% else %}
                            {{ quick_add_accessories_text }}
                        {% endunless %}
                    </p>
                    <div class="quick_add_modal__close">
                        {% render 'icon-close' %}
                    </div>
                </div>
                <div class="product-size-picker-container fix-direction">
                    <div class="product_details fix-direction">
                        <a href="{{ product.url | within: collection}}">
                            {%- assign height = product.featured_media.width | divided_by: product.featured_media.aspect_ratio | round -%}

                            {{ product.featured_media | image_url: width: 375 | image_tag:
                            loading: 'lazy',
                            height: height,
                            class: "product_details__image",
                            sizes: "100vw",
                            widths: '375'
                            }}
                        </a>
                        <div class="product_details__info">
                            {% if product.tags contains 'new' %}
                                <span class="new-product-span">
                                {{ 'products.product.new' | t }}
                            </span>
                            {% endif %}
                            <p class="product_details-titles product-title">{{ product.title }}</p>
                            <p class="product_details-titles product-color">{{ product.vendor }}</p>
                            {% render "price", product: product %}
                            {% if product.compare_at_price > product.price %}
                                <div class="discount-price-container">
                                    <p class="rect-discount-tag">
                                        {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | ceil }}% OFF
                                    </p>
                                    {% if product.tags contains 'OUTLET' or product.tags contains 'outlet' %}
                                        <p class="outlet-collection-tag upper h4">
                                            <span>{{- 'products.product.outlet' | t -}}</span>
                                            <i>{% render 'icon-discount-tag' %}</i>
                                        </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% unless product.has_only_default_variant %}
                        {% if members_only_sale %}
                            {% if product.tags contains announcement_tag %}
                                {% unless customer %}
                                    <div class="members_only_container_inside_card">
                                        <span>הזמנה מוקדמת לחברות מועדון בלבד</span>
                                        <span class="account-toggler-site-wide link">התחברי / הרשמי</span>
                                    </div>
                                    {% else %}
                                    <span class="product_size_picker__heading fix-direction">{{ pick_size_text }}</span>
                                {% endunless %}
                                {% else %}
                                <span class="product_size_picker__heading fix-direction">{{ pick_size_text }}</span>
                            {% endif %}
                            {% else %}
                            <span class="product_size_picker__heading fix-direction">{{ pick_size_text }}</span>
                        {% endif %}
                        {% else %}
                        <span class="product_size_picker__heading fix-direction">{{ quick_add_accessories_text }}</span>
                    {% endunless %}
                    <div class="product-size-picker">
                        <product-form class="size-variant-product-form">
                            {%- form 'product', product, class: 'product_size_picker__form form', data-type: 'add-to-cart-form' -%}
                                <div class="product_variants {% if product.has_only_default_variant %}default_product_variants{% endif %}">
                                    <fieldset name="line_items" class="js">
                                        <ul {% if product.has_only_default_variant %}class="default_variant_list"{% endif %}>
                                            {% for variant in product.variants %}
                                                    {%- liquid
                                                        assign product_disabled = false
                                                        if variant.available == false
                                                            assign product_disabled = true
                                                        endif
                                                         if members_only_sale
                                                             if variant.product.tags contains announcement_tag
                                                                 unless customer
                                                                    assign product_disabled = true
                                                                 endunless
                                                             endif
                                                         endif
                                                    %}

                                                    <li class="size_variant_button fix-direction{% if product.has_only_default_variant %} default_size_variant_button{% endif %}{% if product_disabled %} disabled-variant-button{% endif %}">
                                                        <div class="size_variant_button_container">
                                                            <input type="radio"
                                                                   data-variant-id="{{ variant.id }}"
                                                                   name="id"
                                                                   value="{{ variant.id }}"
                                                                   id="radio_{{ variant.id }}"
                                                                    {% if product_disabled %} disabled="disabled"{% endif %}
                                                            {% if product.has_only_default_variant %}class="product_size_picker__button default_input"
                                                                checked{% else %}class="product_size_picker__button new_input shoppable"{% endif %}>
                                                            <label for="radio_{{ variant.id }}"
                                                                    {% if product_disabled %} disabled{% endif %}

                                                                   class="product_size_picker__button__label">
                                                                <span class="product_size_picker__button__label-span">
                                                                    {% if product.has_only_default_variant %}
                                                                    {{ 'products.product.variant.default_title' | t }}
                                                                    {% else %}
                                                                        {{ variant.title | escape }}
                                                                        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                                                                    {% endif %}
                                                                </span>

                                                                <div class="size_variant_button_add">
                                                                    {% render 'icon-plus' %}
                                                                </div>
                                                                {% render "loading-spinner" %}
                                                                {% render 'icon-checkmark' %}
                                                            </label>
                                                        </div>
                                                    </li>
                                            {% endfor %}
                                        </ul>
                                    </fieldset>
                                </div>
                                <input type="submit" hidden="hidden"/>
                                {% render 'loading-spinner' %}
                            {%- endform -%}
                        </product-form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% liquid
            if member_tag != blank
                assign members_only = true
            endif
            if members_only
                if customer
                    assign members_only = false
                else
                    assign members_only = true
                endif
            endif
        %}
        <div id="{{ id }}"
             class="variant_selector{% if submit_on_click %} submit_on_click{% endif %} {{ wrapper_class }}">
            <product-form class="size-variant-product-form">
                {%- form 'product', product, class: 'product_size_picker__form form', data-type: 'add-to-cart-form' -%}
                    <div class="product_variants {% if product.has_only_default_variant %}default_product_variants{% endif %}">
                        <fieldset name="line_items" class="js">
                            <ul {% if product.has_only_default_variant %}class="default_variant_list"{% endif %}>
                                {% for variant in product.variants %}
                                        {%- liquid
                                            assign product_disabled = false
                                            if variant.available == false or members_only and variant.product.tags contains member_tag
                                                assign product_disabled = true
                                            endif
                                        %}

                                        <li class="size_variant_button{% if product.has_only_default_variant %} default_size_variant_button{% endif %}{% if product_disabled %} disabled-variant-button{% endif %}">
                                            <div class="size_variant_button_container">
                                                <input type="radio"
                                                       data-variant-id="{{ variant.id }}"
                                                       name="id"
                                                       value="{{ variant.id }}"
                                                       id="radio_{{ variant.id }}"
                                                        {% if product_disabled %} disabled{% endif %}
                                                {% if product.has_only_default_variant %}class="product_size_picker__button default_input"
                                                    checked{% else %}class="product_size_picker__button new_input shoppable"{% endif %}>
                                                <label for="radio_{{ variant.id }}"
                                                       class="product_size_picker__button__label desktop-label">
                                                    {% if product.has_only_default_variant %}
                                                        {{ 'products.product.variant.default_title' | t }}
                                                    {% else %}
                                                        {{ variant.title | escape }}
                                                        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                                                    {% endif %}
                                                    {% render 'loading-spinner' %}
                                                </label>
                                            </div>
                                        </li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                    </div>
                    <div class="add_to_cart_container product-form__buttons">
                        {% if product.tags contains 'fakeOutOfStock' %}
                            <button class="soldout-variant fakeOutOfStock">
                                {{ 'products.product.sold_out' | t }}
                            </button>
                        {% else %}
                            <button type="submit" name="add"
                                    class="add_to_cart product-form__submit button button--full-width button--secondary"
                                    {% if product_disabled %}
                                        disabled
                                    {% endif %}
                            >
                                <span>
                                  {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                                      {{ 'products.product.sold_out' | t }}
                                  {%- elsif product.tags contains member_tag and members_only -%}
                                      {{ 'products.product.unavailable' | t }}
                                  {%- else -%}
                                      {{ 'products.product.add_to_cart' | t }}
                                  {%- endif -%}
                                </span>
                                <div class="loading-overlay__spinner hidden">
                                    <svg
                                            aria-hidden="true"
                                            focusable="false"
                                            class="spinner"
                                            viewBox="0 0 66 66"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                            </button>
                        {% endif %}
                        <input type="submit" hidden="hidden"/>
                    </div>
                {%- endform -%}
            </product-form>
        </div>
    {% endif %}
