{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} Type of picker
  - myBlock: {Object} block object.
  - announcement_tag: {String} announcement tag.
  - members_only_sale: {Boolean} members only sale.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block,
    myBlock: myBlock,
    announcement_tag: settings.announcement_tag,
    members_only_sale: settings.members_only_sale
  %}
{% endcomment %}
{%- liquid

    assign variants_available_arr = product.variants | map: 'available'
    assign variants_option1_arr = product.variants | map: 'option1'
    assign variants_option2_arr = product.variants | map: 'option2'
    assign variants_option3_arr = product.variants | map: 'option3'

    assign product_form_id = 'product-form-' | append: section.id

    if product.selected_or_first_available_variant
        assign default_selected_variant = true
    endif

    for variant in product.variants
        assign variant_id = variant.id
        endfor

-%}

{%- for value in option.values -%}
    {%- liquid
        assign option_disabled = true
        assign members_only = false
        if announcement_tag != blank and members_only_sale_active == true
            assign members_only = true
        endif
        if members_only == true
            if customer and members_only_sale_active == true
                assign members_only = false
            else
                assign members_only = true
            endif
        endif

        for option1_name in variants_option1_arr
            case option.position
                when 1
                    if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0] or members_only == true and product.tags contains announcement_tag and members_only_sale_active == true
                        assign option_disabled = false
                    endif
                when 2
                    if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0] or members_only == true and product.tags contains announcement_tag and members_only_sale_active == true
                        assign option_disabled = false
                    endif
                when 3
                    if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0] or members_only == true and product.tags contains announcement_tag and members_only_sale_active == true
                        assign option_disabled = false
                    endif
            endcase
        endfor
    -%}
    {%- if block.settings.picker_type == 'button' or picker_type == "button" -%}
        {% assign option_value = value %}
        <span class="variant-button
            {% if option_disabled %}disabled-variant-button{% endif %}
            {% if option.name == 'Color' %}color-swatch-button{% endif %}
            {{ option_value }}">
            <input
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    data-variant-id="{{ variant_id }}"
                    {% if default_selected_variant == true %}checked{% endif %}
                    {% if members_only and product.tags contains announcement_tag %}
                        disabled
                        class="disabled disabled-variant-button"
                    {% elsif option_disabled %}
                        {% comment %}disabled="disabled"{% endcomment %}
                        class="disabled disabled-variant-button"
                    {% endif %}
            >
            {% if option.name == "Color" %}
                <label class="no-background color-variant-tile"
                       for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    <span class="color-swatch" data-color="{{ value }}">&nbsp;</span>
                </label>
            {% else %}
                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {{ value -}}
                    <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                </label>
            {% endif %}
            {% if option_disabled %}
                <svg class="soldout-variant-line"><line x1="0" y1="100%" x2="100%" y2="0" class="Styles__StrikethroughLine-sc-1hxn211-12 eJiSh"></line></svg>
                {% endif %}
            {% for variant in product.variants %}
                {% if option_value == variant.title and variant.inventory_quantity <= myBlock.settings.inventory_threshold and variant.inventory_quantity >= 0 %}
                    <p class="product__inventory no-js-hidden fix-direction {% if myBlock.settings.text_style == 'uppercase' %} caption-with-letter-spacing {% elsif myBlock.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
                        {{ myBlock.shopify_attributes }}
                        id="Inventory-{{ section.id }}"
                               data-variant-title="{{ variant.title }}"
                               role="status"
                            >
                    {%- if variant.inventory_management == 'shopify' -%}
                        {%- if variant.inventory_quantity < myBlock.settings.minimum_inventory_to_show -%}
                            {%- if variant.inventory_quantity <= myBlock.settings.inventory_threshold -%}
                                {%- if myBlock.settings.show_inventory_quantity -%}
                                    {{- 'products.product.inventory_low_stock_show_count' | t: quantity: variant.inventory_quantity -}}
                                {%- else -%}
                                    {{- 'products.product.inventory_low_stock' | t -}}
                                {%- endif -%}
                            {%- else -%}
                                {%- if myBlock.settings.show_inventory_quantity -%}
                                    {{- 'products.product.inventory_low_stock_show_count' | t: quantity: variant.inventory_quantity -}}
                                {%- else -%}
                                    {{- 'products.product.inventory_in_stock' | t -}}
                                {%- endif -%}
                            {%- endif -%}
                        {%- else -%}
                            {%- if variant.inventory_policy == 'continue' -%}
                                {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
                            {%- elsif variant.inventory_quantity < 1 -%}
                                {{- 'products.product.inventory_out_of_stock' | t -}}
                            {%- endif -%}
                        {%- endif -%}
                    {%- endif -%}
                    </p>
                {% endif %}
            {% endfor %}
        </span>
    {%- elsif block.settings.picker_type == 'dropdown' -%}
        <option
                value="{{ value | escape }}"
                {% comment %}
                {% if option.selected_value == value %}
                    selected="selected"
                {% endif %}
                {% endcomment %}
        >
            {% if option_disabled -%}
                {{- 'products.product.value_unavailable' | t: option_value: value -}}
            {%- else -%}
                {{- value -}}
            {%- endif %}
        </option>
    {%- endif -%}
{%- endfor -%}