{% comment %}
  Renders a table with product specific sizing
  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.

  Usage:
  {% render 'product-sizing-table',
    product: product,
    block: block
  %}
{% endcomment %}


{% style %}
    .div-block-460 {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid rgba(var(--color-foreground));
    margin: 1em auto;
    place-items: center;
    }

    .model-size-text, .size-span {
        width: 100%;
    border: 0.5px var(--gradient-base-accent-1) solid;
    text-align: center;
    }
{% endstyle %}

{% unless product.tags contains "אקססוריז" or product.tags contains 'kit' %}
    <div class="model-size-table-diff">
        <div class="product-meta-content none">
            <div class="modelsizedropdown">
                <div class="div-block-460">
                    <div class="model-size-text text-center">שם</div>
                    <div class="model-size-text text-center">גובה</div>
                    <div class="model-size-text text-center">חזה</div>
                    <div class="model-size-text text-center">מותן</div>
                    <div class="model-size-text text-center">אגן</div>
    {% for model in shop.metaobjects.model.values %}
        {% if product.tags contains model.name %}
            <span class="size-span" data-model-size="{{ model.size_letter.value }}">{{ model.name }}</span>
            <span class="size-span" data-model-size="{{ model.size_letter.value }}">{{ model.height }}</span>
            <span class="size-span" data-model-size="{{ model.size_letter.value }}">{{ model.bust }}</span>
            <span class="size-span" data-model-size="{{ model.size_letter.value }}">{{ model.waist }}</span>
            <span class="size-span" data-model-size="{{ model.size_letter.value }}">{{ model.hips }}</span>
        {% endif %}
        {% endfor %}
                </div>
                <div class="all-sizes-are-in">{{ 'products.product.shipping_sizes' | t }}</div>
            </div>
        </div>
    </div>
{% endunless %}