{% comment %}
  Renders a table with product specific sizing
  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.

  Usage:
  {% render 'product-sizing-table',
    product: product,
    block: block
  %}
{% endcomment %}

{% unless product.tags contains "אקססוריז" or product.tags contains 'kit' %}
    <div class="model-size-table-diff {% if product.tags contains "plusSizeProduct" %}none{% endif %}">
        <div class="product-meta-opener-container" style="border-top: 1px var(--color-background) solid;">
            <p class="product-meta-opener-child">מידות הדוגמנית:</p>
            <p class="product-meta-opener-child">+</p>
        </div>
        <div class="product-meta-content none">
            <div class="modelsizedropdown">
                <div class="div-block-460">
                    <div class="text-block-174 text-center">שם</div>
                    <div class="text-block-175 text-center">גובה</div>
                    <div class="text-block-176 text-center">חזה</div>
                    <div class="text-block-177 text-center">מותן</div>
                    <div class="text-block-178 text-center">אגן</div>
                    <div class="text-block-179 text-center">{{ product.metafields.global.model }}</div>
                    <div class="text-block-180 priceFont text-center">{{ product.metafields.global.height }}</div>
                    <div class="text-block-181 priceFont text-center">{{ product.metafields.global.chest }}</div>
                    <div class="text-block-181 priceFont text-center">{{ product.metafields.global.waist }}</div>
                    <div class="text-block-183 priceFont text-center">{{ product.metafields.global.butt }}</div>
                </div>
                <div class="text-block-184">{{ 'product.DIV_44' | t }}</div>
            </div>
        </div>
    </div>
    <div class="model-size-table-diff {% unless product.tags contains "plusSizeProduct" %}none{% endunless %}">
        <div class="product-meta-opener-container" style="border-top: 1px var(--color-background) solid;">
            {% if product.tags contains 'man' %}
                <p class="product-meta-opener-child">מידות הדוגמן:</p>
            {% else %}
                <p class="product-meta-opener-child">מידות הדוגמנית:</p>
            {% endif %}
            <p class="product-meta-opener-child">+</p>
        </div>
        <div class="product-meta-content none">
            <div class="modelsizedropdown">
                <div class="div-block-460">
                    <div class="text-block-174 text-center">שם</div>
                    <div class="text-block-175 text-center">גובה</div>
                    <div class="text-block-176 text-center">חזה</div>
                    <div class="text-block-177 text-center">מותן</div>
                    <div class="text-block-178 text-center">אגן</div>
                    <div class="text-block-179 text-center">{{ product.metafields.global.plusmodel }}</div>
                    <div class="text-block-180 priceFont text-center">{{ product.metafields.global.plusheight }}</div>
                    <div class="text-block-181 priceFont text-center">{{ product.metafields.global.pluschest }}</div>
                    <div class="text-block-181 priceFont text-center">{{ product.metafields.global.pluswaist }}</div>
                    <div class="text-block-183 priceFont text-center">{{ product.metafields.global.plusbutt }}</div>
                </div>
                <div class="text-block-184">{{ 'product.DIV_44' | t }}</div>
            </div>
        </div>
    </div>
{% endunless %}