{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  - myBlock: {Object} passing the block information.
  - announcement_tag: {String} tag to be used for announcement (optional).
  - members_only_sale: {Boolean} whether or not the sale is members only (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{%- liquid
    assign similarParent = product.metafields.global.collectionTitle
    if product.tags contains 'plusSizeProduct'
        assign plusProduct = true
    else
        assign plusProduct = false
    endif

    if product.tags contains 'loyalty-only'
        assign loggedIn = false
        if customer
            assign loggedIn = true
        endif
    endif
 -%}

{% assign isLiveTheme = 'false' %}
{% if content_for_header contains "previewBarInjector.init();" %}
    {% assign isLiveTheme = 'false' %}
{% elsif content_for_header contains "Shopify.designMode" %}
    {% assign isLiveTheme = 'false' %}
{% else %}
    {% assign isLiveTheme = 'true' %}
{% endif %}

{% assign picked_color = product.vendor %} <!-- Assign picked_color to product.vendor -->

<script>document.addEventListener('DOMContentLoaded', function() {
    const similarList = document.querySelector('.similar');
    if (similarList) {
        const pickedColorItem = similarList.querySelector('.picked-color');
        if (pickedColorItem) {
            const parentListItem = pickedColorItem.closest('li');
            if (parentListItem) {
                similarList.insertBefore(parentListItem, similarList.firstChild);
            }
        }
    }
});</script>

{% unless product.tags contains 'noSimilar' %}
    <ul class="similar" id="scrollNoSize">
        {% for collection in collections %}
            {% if collection.title == similarParent or collection.title == similarParent.value %}
                {% for product in collection.products %}
                    {% assign color_name = product.vendor %}
                    {% capture color %} {% comment %}
                      very long code containing color mapping, not sure of a way to make it shorter
                    {% endcomment %}
                        {% if color_name == 'אדום' %}
                            #fd484c
                        {% elsif color_name == 'חאקי' %}
                            #6c7c59
                        {% elsif color_name == 'מנטה' %}
                            #d2ceb9
                        {% elsif color_name == 'אפור-שחור' %}
                            #453841
                        {% elsif color_name == 'בורדו' %}
                            #753940
                        {% elsif color_name == 'כחול' %}
                            #798dab
                        {% elsif color_name == 'כחול עמוק' %}
                            #2c8be8
                        {% elsif color_name == "טורקיז" %}
                            #0d7069
                        {% elsif color_name == "ירוק אפור" %}
                            #4e494b
                        {% elsif color_name == 'ירוק זית' %}
                            #715d3d
                        {% elsif color_name == 'צהוב בהיר' %}
                            #f5e2b9
                        {% elsif color_name == 'צהוב ירוק' %}
                            #ebeb89
                        {% elsif color_name == 'צהוב חרדל' %}
                            #c58230
                        {% elsif color_name == "אפרסק" %}
                            #ee9f81
                        {% elsif color_name == 'ירוק' %}
                            #b7c9ac
                        {% elsif color_name == 'ירוק כהה' %}
                            #79694f
                        {% elsif color_name == 'צהוב' %}
                            #faf1bb
                        {% elsif color_name == 'כחול אפור' %}
                            #648694
                        {% elsif color_name == 'שחור' %}
                            #28272c
                        {% elsif color_name == 'לבן' %}
                            #eaedfa
                        {% elsif color_name == 'ורוד' %}
                            #e06998
                        {% elsif color_name == 'סגול' %}
                            #998ca5
                        {% elsif color_name == 'כתום' %}
                            #FFA500
                        {% elsif color_name == 'כתום בהיר' %}
                            #d6c5bd
                        {% elsif color_name == 'חום' %}
                            #644146
                        {% elsif color_name == 'חום כהה' %}
                            #724546
                        {% elsif color_name == 'מוקה' %}
                            #b88669
                        {% elsif color_name == 'ניוד' %}
                            #c5b4a1
                            {% elsif color_name == 'קרם' %}
                              #e3e4df
                        {% elsif color_name == 'אפור' %}
                            #808080
                        {% elsif color_name == 'אפור כהה' %}
                            #443f45
                        {% elsif color_name == 'תכלת' %}
                            #ADD8E6
                        {% elsif color_name == 'ירוק בהיר' %}
                            #c2f0d0
                        {% elsif color_name == 'כחול כהה' %}
                            #55586d
                        {% elsif color_name == 'אדום כהה' %}
                            #8B0000
                        {% else %}
                            #000000
                        {% endif %}
                    {% endcapture %}

                    {% if product.vendor == picked_color %}
                        {% assign is_picked_color = true %}
                    {% else %}
                        {% assign is_picked_color = false %}
                    {% endif %}

                    {% if isLiveTheme == 'true' %}
                        {% unless product.tags contains 'hidden' %}
                            <li class="relative-discount similar-child {{ forloop.index0 }}">
                                <a href="{{ product.url }}" class="similar-a">
                                    <span class="color-circles {% if is_picked_color %}picked-color{% endif %}" style="background-color: {{ color | strip }}; width: 50px; height: 50px; border-radius: 50%; display: inline-block;"></span>
                                    <p class="productVendor">{{ product.vendor }}</p>
                                </a>
                            </li>
                        {% endunless %}
                    {% else %}
                        <li class="relative-discount similar-child {{ forloop.index0 }}">
                            <a href="{{ product.url }}" class="similar-a">
                                <span class="color-circles {% if is_picked_color %}picked-color{% endif %}" style="background-color: {{ color | strip }}; width: 50px; height: 50px; border-radius: 50%; display: inline-block;"></span>
                            </a>
                            <p class="productVendor">{{ product.vendor }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endunless %}

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      id="variant-radios-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input {% if product.title == 'גיפט קארד' %}gift-card-product-form__input{% elsif product.title == 'Iconic סווטשירט' %}os-sweat fix-direction{% endif %}">
          <legend class="form__label">{{ option.name }}</legend>
            {% for modelName in product.metafields.model.names.value %}
                {% assign model = shop.metaobjects.model[modelName] %}
            <legend class="model-wears-size fix-direction"
                    data-model="{{ model.size_letter.value }}"
                {% if plusProduct and model.size_letter.value == 'XS' %}
                    style="display: none"
                {% elsif plusProduct == false and model.size_letter.value == 'L' %}
                    style="display: none"
                    {% endif %}>
                {{ 'products.product.model_switch.model_wears_only_female' | t }}
                {% if product.title == 'Iconic סווטשירט' %}
                    <span class="bold">{{ option.name }}: OS</span>
                {% else %}
                <span class="bold">{{ option.name }}: {{ model.size_letter.value }}</span>
                    {% endif %}
                {% if product.tags contains 'up-size-recommendation' %}
                    <span class="small">{{ 'products.product.up_size_recommendation' | t }}</span>
                {% elsif product.tags contains 'down-size-recommendation' %}
                    <span class="small">{{ 'products.product.down_size_recommendation' | t }}</span>
                {% elsif product.tags contains 'no_cups_bra' %}
                    <span class="small">במוצר זה אין ריפודיות נשלפות</span>
                {% endif %}
            </legend>
            {% endfor %}
          {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  myBlock: myBlock,
                  announcement_tag: settings.announcement_tag,
                  members_only_sale: settings.members_only_sale,
                  members_only_sale_active: settings.members_only_sale_active,
                  loggedIn: loggedIn
          %}
        </fieldset>
      {%- endfor -%}
        <div class="size-table-stock-container">
            {% unless product.tags contains 'noSizeTable' %}

              <p class="size-table-toggler pointer">{{ 'products.product.size_table' | t }}</p>
            {% endunless %}
          </div>
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>