{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} Type of picker


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
    assign variants_available_arr = product.variants | map: 'available'
    assign variants_option1_arr = product.variants | map: 'option1'
    assign variants_option2_arr = product.variants | map: 'option2'
    assign variants_option3_arr = product.variants | map: 'option3'

    assign product_form_id = 'product-form-' | append: section.id

    for variant in product.variants
        assign variant_id = variant.id
        endfor
-%}

{%- for value in option.values -%}
    {%- liquid
        assign option_disabled = true

        for option1_name in variants_option1_arr
            case option.position
                when 1
                    if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                    endif
                when 2
                    if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                    endif
                when 3
                    if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                        assign option_disabled = false
                    endif
            endcase
        endfor
    -%}
    {%- if block.settings.picker_type == 'button' or picker_type == "button" -%}
        <span class="variant-button {% if option_disabled %}disabled-variant-button{% endif %}">
            <input
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    form="{{ product_form_id }}"
                    data-variant-id="{{ variant_id }}"
                    {% comment %}
                    {% if option.selected_value == value %}
                        checked
                    {% endif %}
                    {% endcomment %}
                    {% if option_disabled %}
                        {% comment %}disabled="disabled"{% endcomment %}
                        class="disabled disabled-variant-button"
                    {% endif %}
            >
            {% if option.name == "Color" or option.name == "צבע" %}
                {% comment %} TODO: Inducate the option is disbled by taking into account all variant selections. add: {% if option_disabled %} disabled{% endif %} to classes{% endcomment %}
                <label class="no-background color-variant-tile"
                       for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    <span style="background-color: {{  value }}">&nbsp;</span>
                </label>
            {% else %}
                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {{ value -}}
                    <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                </label>
            {% endif %}
            {% if option_disabled %}
                <svg class="soldout-variant-line"><line x1="0" y1="100%" x2="100%" y2="0" class="Styles__StrikethroughLine-sc-1hxn211-12 eJiSh"></line></svg>
                {% endif %}
        </span>
    {%- elsif block.settings.picker_type == 'dropdown' -%}
        <option
                value="{{ value | escape }}"
                {% comment %}
                {% if option.selected_value == value %}
                    selected="selected"
                {% endif %}
                {% endcomment %}
        >
            {% if option_disabled -%}
                {{- 'products.product.value_unavailable' | t: option_value: value -}}
            {%- else -%}
                {{- value -}}
            {%- endif %}
        </option>
    {%- endif -%}
{%- endfor -%}