{% comment %}
  Renders product sale banner copywriting

  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.
  - announcement_tag: {String} announcement tag.
  - members_only_sale: {Boolean} is members only sale.

  Usage:
  {% render 'sale-banner', product: product, member_tag: settings.announcement_tag, block: block, members_only_sale: settings.members_only_sale %}
{% endcomment %}

{% liquid
    assign members_only = false
    if announcement_tag != blank
        assign members_only = true
    endif

    assign second_announcement_tag=settings.second_announcement_tag
%}

{% if customer %}
    {% if product.tags contains announcement_tag and block.settings.logged_in_text != blank %}
        <div class="sale-banner-product-page">
            <div class="{% if block.settings.paragraph_direction == 'Right To Left' %}fix-direction{% endif %}">
                {{ block.settings.logged_in_text | newline_to_br }}
            </div>
            {% if block.settings.small_logged_in_text != blank %}
                <small class="fix-direction">{{ block.settings.small_logged_in_text }}</small>
            {% endif %}
        </div>
    {% endif %}

    {% else %}

    {% if product.tags contains announcement_tag and block.settings.logged_out_text != blank %}
        <div class="sale-banner-product-page">
            <div class="{% if block.settings.paragraph_direction == 'Right To Left' %}fix-direction{% endif %}">
                {{ block.settings.logged_out_text | newline_to_br }}
            </div>
            {% if block.settings.log_in != blank %}
                <small class="account-toggler-site-wide link fix-direction">{{ block.settings.log_in }}</small>
            {% endif %}
        </div>
        {%elsif product.tags contains second_announcement_tag%}
             <div class="sale-banner-product-page">
            <div class="{% if block.settings.paragraph_direction == 'Right To Left' %}fix-direction{% endif %}">
                {{ block.settings.logged_in_text_second | newline_to_br }}
            </div>
          
        </div>

        
    {% endif %}
{% endif %}


 
 