{% comment %}
  Renders product sale banner copywriting

  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.
  - announcement_tag: {String} announcement tag.
  - members_only_sale: {Boolean} is members only sale.

  Usage:
  {% render 'sale-banner', product: product, member_tag: settings.announcement_tag, block: block, members_only_sale: settings.members_only_sale %}
{% endcomment %}

{% liquid
    assign members_only = false
    if announcement_tag != blank
        assign members_only = true
    endif
%}

{% comment %}
{% if product.tags contains announcement_tag %}
    <div class="sale-banner-product-page fix-direction">
        {% if customer %}
            <p>{{ block.settings.logged_in_text | newline_to_br }}</p>
        {% else %}
            <p>{{ block.settings.logged_out_text | newline_to_br }}</p>
            {% if block.settings.log_in != blank %}
                <small class="account-toggler-site-wide link">{{ block.settings.log_in }}</small>
            {% endif %}
        {% endif %}
        {% if block.settings.small_text != blank %}
            <small class="">{{ block.settings.small_text }}</small>
        {% endif %}
    </div>
{% endif %}
{% endcomment %}

{% if product.tags contains announcement_tag %}
    <div class="sale-banner-product-page fix-direction">
        {% if block.settings.small_text != blank %}
            <small class="fix-direction">{{ block.settings.small_text }}</small>
        {% endif %}
        {% if customer %}
            <p class="fix-direction">{{ block.settings.logged_in_text | newline_to_br }}</p>
        {% else %}
            <p class="fix-direction">{{ block.settings.logged_out_text | newline_to_br }}</p>
            {% if block.settings.log_in != blank %}
                <small class="account-toggler-site-wide link fix-direction">{{ block.settings.log_in }}</small>
            {% endif %}
        {% endif %}
    </div>
{% elsif product.tags contains settings.second_announcement_tag %}
    <div class="sale-banner-product-page">
        <p>{{ block.settings.second_announcement_regular_text | newline_to_br }}</p>
        {% if block.settings.second_small_text != blank %}
            <small class="fix-direction">{{ block.settings.second_small_text }}</small>
        {% endif %}
    </div>
{% endif %}

{% comment %}

{% assign donationPrice = product.price | times: 3 %}

{% if product.tags contains announcement_tag %}
    <div class="sale-banner-product-page fix-direction">
        <p>{{ block.settings.logged_out_text | newline_to_br }}</p>
    </div>
{% elsif product.tags contains 'donation' %}
    <div class="sale-banner-product-page fix-direction">
        <p>מארז תרומה הכולל בגדים חדשים בשווי {{ donationPrice | money_without_trailing_zeros }} עבור ארגון ״לתת״, המסייע למפונות ומוקדי האירוח השונים בישראל.</p>
    </div>
{% endif %}
    {% endcomment %}