{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'loyalty-page.js' | asset_url | script_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="page-width fix-direction section-{{ section.id }}-padding">

    {% if customer %}
        <div class="yotpo-widget-instance" data-yotpo-instance-id="746027"></div>
    {% endif %}

    <h2 class="vip-tiers-main-title">פירוט דרגות</h2>
    <!-- VIP Tiers Section -->
    <div class="our-vip-tiers">

        <!-- BASIC -->
        <div class="vip-tier-new">
            <div class="vip-tier-data-toggle">
                <h6>BASIC</h6>
                {% render 'icon-caret' %}
            </div>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">BASIC</h4>
                {% render 'icon-loyalty-star-one' %}
                <ul>
                    <li>הצטרפות למועדון לקוחות</li>
                    <li>צבירת נקודה על כל שקל שרכשת</li>
                    <li>25% הטבת יום הולדת</li>
                    <li>20% הטבת הצטרפות</li>
                    <li>בתוקף ל 30 יום בלבד</li>
                </ul>
            </div>
        </div>

        <!-- PLUS -->
        <div class="vip-tier-new">
            <div class="vip-tier-data-toggle">
                <h6>PLUS</h6>
                {% render 'icon-caret' %}
            </div>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">PLUS</h4>
                {% render 'icon-loyalty-star-two' %}
                <ul>
                    <li>סך הרכישות מעל ₪800</li>
                    <li>צבירת נקודה על כל שקל שרכשת</li>
                    <li>25% הטבת יום הולדת</li>
                    <li>25% הטבת עליית דרגה</li>
                    <li>בקנייה מעל ₪250</li>
                    <li>בתוקף ל 60 יום בלבד</li>
                </ul>
            </div>
        </div>

        <!-- PREMIUM -->
        <div class="vip-tier-new">
            <div class="vip-tier-data-toggle">
                <h6>PREMIUM</h6>
                {% render 'icon-caret' %}
            </div>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">PREMIUM</h4>
                {% render 'icon-loyalty-star-three' %}
                <ul>
                    <li>סך הרכישות מעל ₪1,400</li>
                    <li>צבירת נקודה על כל שקל שרכשת</li>
                    <li>25% הטבת יום הולדת</li>
                    <li>30% הטבת עליית דרגה</li>
                    <li>בקנייה מעל ₪250</li>
                    <li>בתוקף ל 60 יום בלבד</li>
                </ul>
            </div>
        </div>

        <!-- LEGEND -->
        <div class="vip-tier-new">
            <div class="vip-tier-data-toggle">
                <h6>LEGEND</h6>
                {% render 'icon-caret' %}
            </div>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">LEGEND</h4>
                {% render 'icon-loyalty-star-four' %}
                <ul>
                    <li>סך הרכישות מעל ₪2,700</li>
                    <li>צבירת נקודה על כל שקל שרכשת</li>
                    <li>25% הטבת יום הולדת</li>
                    <li>30% הטבת עליית דרגה</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Loyalty Vip Tiers New",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "yotpo_instance_id",
            "label": "Yotpo Instance ID",
            "default": "636553"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 52
        }
    ],
    "presets": [
        {
            "name": "Loyalty Vip Tiers New"
        }
    ]
}

{% endschema %}