{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'loyalty-page.js' | asset_url | script_tag }}

{% assign plusStart = 200000 %}
{% assign premiumStart = 350000 %}
{% assign legendStart = 700000 %}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="page-width fix-direction section-{{ section.id }}-padding">
    <!-- VIP Tiers Section -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ section.settings.yotpo_instance_id }}"></div>
    <div class="our-vip-tiers">
        <div class="custom-vip-tier-titles text-center">
            {% if customer %}
                <h4 class="vip-tiers-pumpup-title">תעלי שלב!</h4>
            {% else %}
                <h4 class="vip-tiers-pumpup-title">חברות מועדון מרוויחות יותר</h4>
            {% endif %}
            <p class="vip-tiers-pumpup">תעלי במדרגות המועדון בשביל ליהנות מעוד הטבות!</p>
            <p class="vip-tiers-pumpup">צברי נקודות כדי לעלות דרגות וליהנות מ - CashBack והטבות בלעדיות <span class="on-each-order">בכל הזמנה</span></p>
        </div>
        <div class="vip-benefits-table">
            <!--   Desktop Tiers   -->
            <div class="vip-benefits-row vip-benefits-row-1 vip-benefits-rows-tiers desktop-only">
                <ul class="vip-benefits-list">
                    <li class="vip-benefits-list-th" style="opacity: 0;">
                        <div class="internal">
                            <h4 class="vip-benefits-th-text englishFont upper">BASIC</h4>
                            <div class="from-to">החל מרכישה ראשונה</div>
                        </div>
                    </li>
                    <!--     נקודה על כל שקל     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            נקודה על כל שקל (CashBack)
                        </div>
                    </li>
                    <!--     מתנת הצטרפות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת הצטרפות 20%
                        </div>
                    </li>
                    <!--     מתנת יום הולדת     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת יום הולדת
                        </div>
                    </li>
                    <!--     עדכונים על סיילים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            עדכונים על סיילים
                        </div>
                    </li>
                    <!--     אקסטרה הטבות בלעדיות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקסטרה הטבות בלעדיות
                        </div>
                    </li>
                    <!--     pre-sale     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain englishFont upper">
                            pre-sale
                        </div>
                    </li>
                    <!--     אקססורי מתנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקססורי מתנה
                        </div>
                    </li>
                    <!--     משלוח חינם בכל הזמנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            משלוח חינם בכל הזמנה
                        </div>
                    </li>
                    <!--     פריטים בלעדיים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            פריטים בלעדיים
                        </div>
                    </li>
                    <!--     תקופת החזרות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            תקופת החזרות
                        </div>
                    </li>
                </ul>
            </div>
            <!--   Basic   -->
            <div class="vip-benefits-row vip-benefits-row-2 vip-benefits-row-basic">
                <ul class="vip-benefits-list">
                    <li class="vip-benefits-list-th {% if customer.total_spent < plusStart %}active{% endif %}">
                        <div class="internal">
                            <h4 class="vip-benefits-th-text englishFont upper">BASIC</h4>
                            <div class="from-to">החל מרכישה ראשונה</div>
                        </div>
                    </li>
                    <!--     נקודה על כל שקל     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            נקודה על כל שקל (CashBack)
                        </div>
                        <p class="vip-benefit-get priceFont">1</p>
                    </li>
                    <!--     מתנת הצטרפות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת הצטרפות 20%
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     מתנת יום הולדת     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת יום הולדת
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     עדכונים על סיילים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            עדכונים על סיילים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקסטרה הטבות בלעדיות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקסטרה הטבות בלעדיות
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     pre-sale     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain englishFont upper">
                            pre-sale
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקססורי מתנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקססורי מתנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     משלוח חינם בכל הזמנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            משלוח חינם בכל הזמנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     פריטים בלעדיים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            פריטים בלעדיים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     תקופת החזרות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            תקופת החזרות
                        </div>
                        <p class="vip-benefit-get">30 ימים</p>
                    </li>
                </ul>
            </div>

            <!--   Plus   -->
            <div class="vip-benefits-row vip-benefits-row-3 vip-benefits-row-plus">
                <ul class="vip-benefits-list">
                    <li class="vip-benefits-list-th {% if customer.total_spent > plusStart and customer.total_spent < premiumStart %}active{% endif %}">
                        <div class="internal">
                            <h4 class="vip-benefits-th-text englishFont upper">PLUS</h4>
                            <div class="from-to">לאחר {{ plusStart | money_without_trailing_zeros }}</div>
                        </div>
                    </li>
                    <!--     נקודה על כל שקל     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            נקודה על כל שקל (CashBack)
                        </div>
                        <p class="vip-benefit-get priceFont">1.25</p>
                    </li>
                    <!--     מתנת הצטרפות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת הצטרפות 20%
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     מתנת יום הולדת     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת יום הולדת
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     עדכונים על סיילים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            עדכונים על סיילים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקסטרה הטבות בלעדיות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקסטרה הטבות בלעדיות
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     pre-sale     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain englishFont upper">
                            pre-sale
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקססורי מתנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקססורי מתנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     משלוח חינם בכל הזמנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            משלוח חינם בכל הזמנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     פריטים בלעדיים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            פריטים בלעדיים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     תקופת החזרות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            תקופת החזרות
                        </div>
                        <p class="vip-benefit-get">30 ימים</p>
                    </li>
                </ul>
            </div>

            <!--   Premium   -->
            <div class="vip-benefits-row vip-benefits-row-4 vip-benefits-row-premium">
                <ul class="vip-benefits-list">
                    <li class="vip-benefits-list-th {% if customer.total_spent > plusStart and customer.total_spent < premiumStart %}active{% endif %}">
                        <div class="internal">
                            <h4 class="vip-benefits-th-text englishFont upper">Premium</h4>
                            <div class="from-to">לאחר {{ premiumStart | money_without_trailing_zeros }}</div>
                        </div>
                    </li>
                    <!--     נקודה על כל שקל     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            נקודה על כל שקל (CashBack)
                        </div>
                        <p class="vip-benefit-get priceFont">1.5</p>
                    </li>
                    <!--     מתנת הצטרפות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת הצטרפות 20%
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     מתנת יום הולדת     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת יום הולדת
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     עדכונים על סיילים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            עדכונים על סיילים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקסטרה הטבות בלעדיות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקסטרה הטבות בלעדיות
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     pre-sale     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain englishFont upper">
                            pre-sale
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקססורי מתנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקססורי מתנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     משלוח חינם בכל הזמנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            משלוח חינם בכל הזמנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     פריטים בלעדיים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            פריטים בלעדיים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector-not-get' %}</p>
                    </li>
                    <!--     תקופת החזרות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            תקופת החזרות
                        </div>
                        <p class="vip-benefit-get">60 ימים</p>
                    </li>
                </ul>
            </div>

            <!--   Legend (?)   -->
            <div class="vip-benefits-row vip-benefits-row-4 vip-benefits-row-premium">
                <ul class="vip-benefits-list">
                    <li class="vip-benefits-list-th {% if customer.total_spent > plusStart and customer.total_spent < premiumStart %}active{% endif %}">
                        <div class="internal">
                            <h4 class="vip-benefits-th-text englishFont upper legendary">legend</h4>
                            <div class="from-to">לאחר {{ legendStart | money_without_trailing_zeros }}</div>
                        </div>
                    </li>
                    <!--     נקודה על כל שקל     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            נקודה על כל שקל (CashBack)
                        </div>
                        <p class="vip-benefit-get priceFont">1.75</p>
                    </li>
                    <!--     מתנת הצטרפות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת הצטרפות 20%
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     מתנת יום הולדת     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            מתנת יום הולדת
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     עדכונים על סיילים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            עדכונים על סיילים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקסטרה הטבות בלעדיות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקסטרה הטבות בלעדיות
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     pre-sale     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain englishFont upper">
                            pre-sale
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     אקססורי מתנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            אקססורי מתנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     משלוח חינם בכל הזמנה     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            משלוח חינם בכל הזמנה
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     פריטים בלעדיים     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            פריטים בלעדיים
                        </div>
                        <p class="vip-benefit-get priceFont">{% render 'vector' %}</p>
                    </li>
                    <!--     תקופת החזרות     -->
                    <li class="vip-benefits-list-td flex">
                        <div class="vip-benefit-explain">
                            תקופת החזרות
                        </div>
                        <p class="vip-benefit-get">60 ימים</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

{% schema %}

{
    "name": "Loyalty Vip Tiers",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "yotpo_instance_id",
            "label": "Yotpo Instance ID",
            "default": "636553"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 52
        }
    ],
    "presets": [
        {
            "name": "Loyalty Vip Tiers"
        }
    ]
}

{% endschema %}