{{ 'component-loyalty-rewards.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.75);
        padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="page-width fix-direction section-{{ section.id }}-padding">
    <div class="loyalty-rewards-container">
        {% assign loyaltyRewards = shop.metaobjects.loyalty_rewards.values | sort: 'order' %}
        {% for reward in loyaltyRewards %}
            {% assign customerTag = reward.customer_vip_tier_tag %}
            <div class="tier-container{% if customer.tags contains customerTag %} active{% endif %}">
                <div class="vip-item loyalty_name tr">
                    {{ reward.name }}
                </div>
                <div class="vip-item loyalty_eligibility tr">
                    {{ reward.eligibility }}
                </div>
                <div class="vip-item loyalty_join_reward td">
                    {{ reward.join_reward }}
                </div>
                <div class="vip-item loyalty_birthday_reward td">
                    {{ reward.birthday_reward }}
                </div>
                <div class="vip-item loyalty_cashback_earned td">
                    {{ reward.cashback_earned }}
                </div>

                {% if forloop.first %}
                    <div class="vip-item loyalty_first_updates_text td">
                        {{ reward.first_updates_text }}
                    </div>
                    <div class="vip-item loyalty_presale_text td">
                        {{ reward.presale_text }}
                        {% if reward.presale_conditions != blank %}
                            {{ reward.presale_conditions }}
                        {% endif %}
                    </div>
                    <div class="vip-item loyalty_bonus_points_text td">
                        {{ reward.bonus_points_text }}
                    </div>
                    <div class="vip-item loyalty_special_events_text td">
                        {{ reward.special_events_text }}
                    </div>
                {% else %}

                    {% if reward.first_updates == true %}
                        <div class="vip-item true td">
                            <span class="round-black"></span>
                        </div>
                    {% else %}
                        <div class="vip-item false td">&nbsp;</div>
                    {% endif %}

                    {% if reward.presale == true %}
                        <div class="vip-item true td">
                            <span class="round-black"></span>
                        </div>
                    {% else %}
                        <div class="vip-item false td">&nbsp;</div>
                    {% endif %}

                    {% if reward.bonus_points == true %}
                        <div class="vip-item true td">
                            <span class="round-black"></span>
                        </div>
                    {% else %}
                        <div class="vip-item false td">&nbsp;</div>
                    {% endif %}

                    {% if reward.special_events == true %}
                        <div class="vip-item true td">
                            <span class="round-black"></span>
                        </div>
                    {% else %}
                        <div class="vip-item false td">&nbsp;</div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}

{
  "name": "Loyalty Vip Tiers",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Loyalty Vip Tiers"
    }
  ]
}

{% endschema %}