{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'loyalty-page.js' | asset_url | script_tag }}

{% assign plusStart = 80000 %}
{% assign premiumStart = 140000 %}
{% assign legendStart = 300000 %}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="page-width fix-direction section-{{ section.id }}-padding">
    <h2 class="vip-tiers-main-title">פירוט דרגות</h2>
    <!-- VIP Tiers Section -->
    <div class="our-vip-tiers">

        <!-- BASIC -->
        <div class="vip-tier-new">
            <h6 class="vip-tier-data-toggle">BASIC</h6>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">BASIC</h4>
                {% render 'icon-loyalty-star-one' %}
                <ul>
                    <li>הצטרפות למועדון לקוחות</li>
                    <li>5% צבירת נקודות</li>
                    <li>20% הטבת הצטרפות</li>
                    <li>25% הטבת יום הולדת</li>
                </ul>
            </div>
        </div>

        <!-- PLUS -->
        <div class="vip-tier-new">
            <h6 class="vip-tier-data-toggle">PLUS</h6>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">PLUS</h4>
                {% render 'icon-loyalty-star-two' %}
                <ul>
                    <li>רכישה ב ₪800-₪1,400</li>
                    <li>6% צבירת נקודות</li>
                    <li>25% הטבת הצטרפות</li>
                    <li>1+1 על מוצרי OUTLET</li>
                </ul>
            </div>
        </div>

        <!-- PREMIUM -->
        <div class="vip-tier-new">
            <h6 class="vip-tier-data-toggle">PREMIUM</h6>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">PREMIUM</h4>
                {% render 'icon-loyalty-star-three' %}
                <ul>
                    <li>רכישה ב +₪1,400</li>
                    <li>7% צבירת נקודות</li>
                    <li>30% הטבת הצטרפות</li>
                    <li>משלוח חינם בכל הזמנה</li>
                </ul>
            </div>
        </div>

        <!-- LEGEND -->
        <div class="vip-tier-new">
            <h6 class="vip-tier-data-toggle">LEGEND</h6>
            <div class="vip-tier-data">
                <h4 class="vip-tier-big-title">LEGEND</h4>
                {% render 'icon-loyalty-star-four' %}
                <ul>
                    <li>רכישה ב +₪2,700</li>
                    <li>7% צבירת נקודות</li>
                    <li>30% הטבת הצטרפות</li>
                    <li>משלוח חינם בכל הזמנה</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Loyalty Vip Tiers New",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "yotpo_instance_id",
            "label": "Yotpo Instance ID",
            "default": "636553"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 52
        }
    ],
    "presets": [
        {
            "name": "Loyalty Vip Tiers New"
        }
    ]
}

{% endschema %}