{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'loyalty-page.js' | asset_url | script_tag }}

{% assign plusStart = 80000 %}
{% assign premiumStart = 140000 %}
{% assign legendStart = 300000 %}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="page-width fix-direction section-{{ section.id }}-padding">
    <!-- VIP Tiers Section -->
    {% comment %}<div class="yotpo-widget-instance" data-yotpo-instance-id="{{ section.settings.yotpo_instance_id }}"></div>{% endcomment %}
    <div class="our-vip-tiers">
        {% assign tiers = shop.metaobjects.new_vip_tiers.values | sort: "order" %}
        {% for tier in tiers %}
            {% assign icon = tier.icon %}
            <div>
                <h4>{{ tier.name }}</h4>
                {% render icon %}
                <ul>
                    <li>{{ tier.first_info }}</li>
                    <li>{{ tier.second_info }}</li>
                    <li>{{ tier.third_info }}</li>
                    <li>{{ tier.fourth_info }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}

{
    "name": "Loyalty Vip Tiers New",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "text",
            "id": "yotpo_instance_id",
            "label": "Yotpo Instance ID",
            "default": "636553"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 52
        }
    ],
    "presets": [
        {
            "name": "Loyalty Vip Tiers New"
        }
    ]
}

{% endschema %}