{{ 'countdown.css' | asset_url | stylesheet_tag }}
{{ 'countdown.js' | asset_url | script_tag }}

<a href="{{ section.settings.main_link }}" id="countdown" class="countdown rtl">
    <div class="countdown-ctn flex">
        <div class="announce-countdown">
            <div id='tiles' class='flex ltr'>
                <div class="tiles-div tiles-div-days">
                    <p class="tiles-time tiles-time-days"></p>
                </div>
                <div class="tiles-div tiles-div-hours">
                    <p class="tiles-time tiles-time-hours"></p>
                </div>
                <div class="tiles-div tiles-div-minutes">
                    <p class="tiles-time tiles-time-minutes"></p>
                </div>
                <div class="tiles-div tiles-div-seconds">
                    <p class="tiles-time tiles-time-seconds"></p>
                </div>
            </div>
        </div>
        <div class="countdown-sale-description-ctn">
            <p class="countdown-sale-description englishFont upper">{{ sections.settings.main_text }}</p>
            <p class="countdown-sale-description upper">{{ sections.settings.sub_text }}</p>
        </div>
    </div>
</a>

{% schema %}

{
    "name": "t:sections.countdown.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "url",
            "id": "main_link",
            "label": "t:sections.countdown.settings.main_link"
        },
        {
            "type": "text",
            "id": "main_text",
            "label": "t:sections.countdown.settings.main_text"
        },
        {
            "type": "text",
            "id": "sub_text",
            "label": "t:sections.countdown.settings.sub_text"
        }
    ],
    "presets": [
        {
            "name": "t:sections.countdown.presets.name"
        }
    ]
}

{% endschema %}