{{ 'component-countdown.css' | asset_url | stylesheet_tag }}
{{ 'component-countdown.js' | asset_url | script_tag }}

    {% if customer %}
        <a href="{{ section.settings.countdown_url }}" id="countdown" class="countdown fix-direction" data-date="{{ section.settings.countdown_date }}">
    <div class="countdown-ctn flex">
        <div class="announce-countdown flex">
            {% if section.settings.right_text %}
                <div class="countdown-sale-description-ctn">
                    {{ section.settings.right_copy }}
                </div>
            {% endif %}
            <div id="tiles" class="flex ltr">
                <div class="tiles-div tiles-div-days {% unless section.settings.show_days %}hidden{% endunless %}">
                    <p class="tiles-time tiles-time-days"></p>
                </div>
                <div class="tiles-div tiles-div-hours">
                    <p class="tiles-time tiles-time-hours"></p>
                </div>
                <div class="tiles-div tiles-div-minutes">
                    <p class="tiles-time tiles-time-minutes"></p>
                </div>
                <div class="tiles-div tiles-div-seconds">
                    <p class="tiles-time tiles-time-seconds"></p>
                </div>
            </div>
        </div>
        {% if section.settings.left_text %}
            <div class="countdown-sale-description-ctn">
                {{ section.settings.left_copy }}
            </div>
        {% endif %}
    </div>
</a>
    {% endif %}

{% schema %}
{
    "name": "Countdown",
    "class": "countdown-section",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_days",
            "label": "Show Days"
        },
        {
            "type": "text",
            "id": "countdown_date",
            "label": "Countdown Date",
            "default": "Sun Jul 23 2023 12:00:00 GMT+0300 (שעון ישראל (קיץ))"
        },
        {
            "type": "url",
            "id": "countdown_url",
            "label": "Countdown URL"
        },
        {
            "type": "checkbox",
            "id": "left_text",
            "label": "Left text toggler"
        },
        {
            "type": "richtext",
            "id": "left_copy",
            "label": "Left text content"
        },
        {
            "type": "checkbox",
            "id": "right_text",
            "label": "Right text toggler"
        },
        {
            "type": "richtext",
            "id": "right_copy",
            "label": "Right text content"
        }
    ],
    "presets": [
        {
            "name": "Countdown",
            "category": "Countdown",
            "settings": {
                "countdown_date": "Sun Jul 23 2023 12:00:00 GMT+0300 (שעון ישראל (קיץ))",
              "countdown_url": "/",
                "show_only_to_loyalty": "everyone"
            }
        }
    ]
}
{% endschema %}