{{ 'custom-blocks-links.css' | asset_url | stylesheet_tag }}

<div class="custom-blocks-links-container fix-direction page-width grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
    {% for block in section.blocks %}
        <div class="grid__item">
            {% if block.settings.url != blank %}
                <a href="{{ block.settings.url }}" class="custom-blocks-links-url text-center">
                    {% if block.settings.image != blank %}
                        {% render 'icon-faq-main', icon: block.settings.icon %}
                    {% endif %}
                    {% if block.settings.text != blank %}
                        <h4>{{ block.settings.text }}</h4>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% schema %}

{
    "name": "Custom Blocks Links",
    "class": "custom-blocks-links",
    "settings": [
      {
          "type": "select",
            "id": "columns_desktop",
            "label": "Columns Desktop",
            "default": "4",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                }
            ]
      },
        {
            "type": "select",
            "id": "columns_mobile",
            "label": "Columns Mobile",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Link",
            "settings": [
                {
                    "type": "select",
                    "id": "icon",
                    "options": [
                        {
                            "value": "none",
                            "label": "None"
                        },
                        {
                            "value": "returns",
                            "label": "Returns"
                        },
                        {
                            "value": "faq",
                            "label": "Faq"
                        }
                    ],
                    "default": "faq",
                    "label": "faq"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Link"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Block",
            "category": "Custom Blocks",
            "blocks": [
                {
                    "type": "block",
                    "settings": {
                        "text": "Link",
                        "url": "https://strongful.co.il"
                    }
                }
            ]
        }
    ]
}

{% endschema %}