{{ 'custom-blocks-links.css' | asset_url | stylesheet_tag }}

<div class="custom-blocks-links-container fix-direction page-width grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
    {% for block in section.blocks %}
        <div class="grid__item">
            {% if block.settings.url != blank %}
                <a href="{{ block.settings.url }}" class="custom-blocks-links-url text-center">
                    {% if block.settings.image != blank %}
                        {% render 'icon-accordion', icon: block.settings.icon %}
                    {% endif %}
                    {% if block.settings.text != blank %}
                        <h4>{{ block.settings.text }}</h4>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% schema %}

{
    "name": "Custom Blocks Links",
    "class": "custom-blocks-links",
    "settings": [
      {
          "type": "select",
            "id": "columns_desktop",
            "label": "Columns Desktop",
            "default": "4",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                }
            ]
      },
        {
            "type": "select",
            "id": "columns_mobile",
            "label": "Columns Mobile",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Link",
            "settings": [
                {
                    "type": "select",
                    "id": "icon",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
                        },
                        {
                            "value": "returns",
                            "label": "returns"
                        },
                        {
                            "value": "faq",
                            "label": "faq"
                        },
                        {
                            "value": "bottle",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
                        },
                        {
                            "value": "box",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
                        },
                        {
                            "value": "carrot",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
                        },
                        {
                            "value": "chat_bubble",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
                        },
                        {
                            "value": "check_mark",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
                        },
                        {
                            "value": "clipboard",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
                        },
                        {
                            "value": "dairy",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
                        },
                        {
                            "value": "dairy_free",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
                        },
                        {
                            "value": "dryer",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
                        },
                        {
                            "value": "eye",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
                        },
                        {
                            "value": "fire",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
                        },
                        {
                            "value": "gluten_free",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
                        },
                        {
                            "value": "heart",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
                        },
                        {
                            "value": "iron",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
                        },
                        {
                            "value": "leaf",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
                        },
                        {
                            "value": "leather",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
                        },
                        {
                            "value": "lightning_bolt",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
                        },
                        {
                            "value": "lipstick",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
                        },
                        {
                            "value": "lock",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
                        },
                        {
                            "value": "map_pin",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
                        },
                        {
                            "value": "nut_free",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
                        },
                        {
                            "value": "pants",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
                        },
                        {
                            "value": "paw_print",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
                        },
                        {
                            "value": "pepper",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
                        },
                        {
                            "value": "perfume",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
                        },
                        {
                            "value": "plane",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
                        },
                        {
                            "value": "plant",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
                        },
                        {
                            "value": "price_tag",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
                        },
                        {
                            "value": "question_mark",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
                        },
                        {
                            "value": "recycle",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
                        },
                        {
                            "value": "return",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
                        },
                        {
                            "value": "ruler",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
                        },
                        {
                            "value": "serving_dish",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
                        },
                        {
                            "value": "shirt",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
                        },
                        {
                            "value": "shoe",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
                        },
                        {
                            "value": "silhouette",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
                        },
                        {
                            "value": "snowflake",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
                        },
                        {
                            "value": "star",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
                        },
                        {
                            "value": "stopwatch",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
                        },
                        {
                            "value": "truck",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
                        },
                        {
                            "value": "washing",
                            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
                        }
                    ],
                    "default": "check_mark",
                    "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Link"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "width",
                    "label": "Width",
                    "min": 0,
                    "max": 100,
                    "step": 10,
                    "default": 60
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Block",
            "category": "Custom Blocks",
            "blocks": [
                {
                    "type": "block",
                    "settings": {
                        "text": "Link",
                        "url": "https://strongful.co.il",
                        "image": "",
                        "width": 40
                    }
                }
            ]
        }
    ]
}

{% endschema %}