{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-variant-size-picker.css' | asset_url | stylesheet_tag }}
{{ 'component-variant-size-picker.js' | asset_url | script_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% assign isLiveTheme = 'false' %}
{% if content_for_header contains "previewBarInjector.init();" %}
    {% assign isLiveTheme = 'false' %}
{% elsif content_for_header contains "Shopify.designMode" %}
    {% assign isLiveTheme = 'false' %}
{% else %}
    {% assign isLiveTheme = 'true' %}
{% endif %}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print"
      onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print"
      onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print"
          onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{%- liquid

    assign products_to_display = section.settings.collections_to_show
    assign more_in_collection = true

    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int and section.settings.pagination_type != "none"
        assign show_mobile_slider = true
    endif

    assign show_desktop_slider = false
    if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop and section.settings.pagination_type != "none"
        assign show_desktop_slider = true
    endif

    assign show_side_arrows = false
    if section.settings.pagination_type == "sides" and show_desktop_slider
        assign show_side_arrows = true
    endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
    <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width  full-width-padding{% endif %} pagination_type_{{ section.settings.pagination_type }}">
        <slider-component
                class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width {% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %} pagination--{{ section.settings.pagination_type }}">
            {%- if show_side_arrows -%}
                <button
                        type="button"
                        class="slider-button slider-button--prev"
                        name="previous"
                        aria-label="{{ 'general.slider.previous_slide' | t }}"
                        aria-controls="Slider-{{ section.id }}"
                        data-step="{{ section.settings.steps }}"
                >
                    {% render 'icon-caret' %}
                </button>
            {% endif %}
            <ul
                    id="Slider-{{ section.id }}"
                    class="grid product-grid contains-card contains-card--product
                    {% if settings.card_style == 'standard' %} contains-card--standard{% endif %}
                     grid--{{ section.settings.columns_desktop }}-col-desktop
                     grid--{{ section.settings.columns_mobile }}-col-tablet-down
                    {% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}
                    {% if show_mobile_slider %} slider--tablet {% endif %}
                    {% if section.settings.show_peak %}grid--peek{% endif %}{% endif %}"
                    role="list"
                    aria-label="{{ 'general.slider.name' | t }}"
            >
                {%- for block in section.blocks -%}
                    <li
                            id="Slide-{{ section.id }}-{{ forloop.index }}"
                            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}"
                    >
                        <a href="{{ block.settings.url }}" class="link featured-collections-link">
                            {{ block.settings.image | image_url: width: 500 | image_tag:
                                class: 'collection_slider_image',
                                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                                width: 300,
                                alt: 'Strongful collection'
                            }}
                            <div class="featured-collections-col-title">
                                {{ block.settings.collection_title }}
                            </div>
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
            {%- if show_side_arrows -%}
                <button
                        type="button"
                        class="slider-button slider-button--next"
                        name="next"
                        aria-label="{{ 'general.slider.next_slide' | t }}"
                        aria-controls="Slider-{{ section.id }}"
                        data-step="{{ section.settings.steps }}"
                >
                    {% render 'icon-caret' %}
                </button>
            {% endif %}
            {%- if section.settings.pagination_type == "bottom" and show_mobile_slider or show_desktop_slider -%}
                <div class="slider-buttons no-js-hidden">
                    <button
                            type="button"
                            class="slider-button slider-button--prev"
                            name="previous"
                            aria-label="{{ 'general.slider.previous_slide' | t }}"
                            aria-controls="Slider-{{ section.id }}"
                            data-step="{{ section.settings.steps }}"
                    >
                        {% render 'icon-caret' %}
                    </button>
                    <div class="slider-counter caption">
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ products_to_display }}</span>
                    </div>
                    <button
                            type="button"
                            class="slider-button slider-button--next"
                            name="next"
                            aria-label="{{ 'general.slider.next_slide' | t }}"
                            aria-controls="Slider-{{ section.id }}"
                            data-step="{{ section.settings.steps }}"
                    >
                        {% render 'icon-caret' %}
                    </button>
                </div>
            {%- endif -%}
        </slider-component>

    </div>
</div>

{% schema %}
{
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section featured-collection index-section",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "range",
            "id": "steps",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 4,
            "label": "t:sections.featured-collection.settings.steps.label"
        },
        {
            "type": "range",
            "id": "collections_to_show",
            "min": 2,
            "max": 25,
            "step": 1,
            "default": 4,
            "label": "Number Of Collection To Show"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 4,
            "label": "t:sections.featured-collection.settings.columns_desktop.label"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "t:sections.featured-collection.settings.full_width.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_desktop_slider",
            "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_peak",
            "label": "t:sections.featured-collection.settings.show_peak.label",
            "default": false
        },
        {
            "type": "select",
            "id": "pagination_type",
            "label": "t:sections.featured-collection.settings.pagination_type.label",
            "default": "sides",
            "options": [
                {
                    "value": "bottom",
                    "label": "t:sections.featured-collection.settings.pagination_type.options__1.label"
                },
                {
                    "value": "sides",
                    "label": "t:sections.featured-collection.settings.pagination_type.options__2.label"
                },
                {
                    "value": "none",
                    "label": "t:sections.featured-collection.settings.pagination_type.options__3.label"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.featured-collection.settings.header.content"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                    "value": "square",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                },
                {
                    "value": "low-rect",
                    "label": "Low horizontal Rectangle"
                }
            ],
            "default": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
            "type": "header",
            "content": "t:sections.featured-collection.settings.header_mobile.content"
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "default": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.label",
            "options": [
                {
                    "value": "1",
                    "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
                },
                {
                    "value": "2",
                    "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
                },
                {
                    "value": "3",
                    "label": "t:sections.featured-collection.settings.columns_mobile.options__3.label"
                },
                {
                    "value": "4",
                    "label": "t:sections.featured-collection.settings.columns_mobile.options__4.label"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "default": false,
            "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Image picker",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image picker"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "text",
                    "id": "collection_title",
                    "label": "Collection Title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured collections"
        }
    ]
}
{% endschema %}