
{{ 'main-product-quick-add.css' | asset_url | stylesheet_tag }}
{{ 'main-product-quick-add.js' | asset_url | script_tag }}

<div class="sticky-cart-cta">
    <img
            srcset="
                  {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                "
            src="{{ product.featured_media | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ product.title | escape }}"
            class="sticky-add-to-cart-image desktop--only"
            {% unless lazy_load == false %}
                loading="lazy"
            {% endunless %}
            width="{{ product.featured_media.width | divided_by: 2 }}"
            height="{{ product.featured_media.height }}"
    >
        <div class="sticky-title-and-price desktop--only">
            <p class="sticky-product-title">{{ product.title | escape }}</p>
            {% unless product.title == 'גיפט קארד' %}
            <div class="sticky-add-to-cart-color">
                צבע: <span class="vendor-span underline">{{ product.vendor }}</span>
            </div>
            {% render 'price' %}
            {% endunless %}
        </div>
    <p class="sticky-add-to-cart-btn">הוספה לסל</p>
    <div class="product-size-picker">
        {% render 'product-size-picker',
                product: product,
                wrapper_class: "hover",
                submit_on_click: true,
                is_modal: true,
                quick_add_text: section.settings.quick_add_text,
                pick_size_text: section.settings.pick_size_text,
                quick_add_accessories_text: section.settings.quick_add_accessories_text
        %}
    </div>
</div>

<div class="sticky-cart-cta-overlay"></div>

{% schema %}

{
    "name": "Product Page Quick Add",
    "tag": "section",
    "class": "section",
    "settings": [
          {
            "type": "select",
            "id": "quick_add_type_mobile",
            "options": [
                {
                    "value": "modal",
                    "label": "t:sections.main-collection-product-grid.settings.quick_add_type_mobile.options__1.label"
                }
            ],
            "default": "modal",
            "label": "t:sections.main-collection-product-grid.settings.quick_add_type_mobile.label"
          },
        {
            "type": "text",
            "id": "quick_add_text",
            "label": "t:sections.main-collection-product-grid.settings.quick_add_text.label"
        },
        {
            "type": "text",
            "id": "pick_size_text",
            "label": "t:sections.main-collection-product-grid.settings.pick_size_text.label"
        },
        {
        "type": "text",
            "id": "quick_add_accessories_text",
            "label": "t:sections.main-collection-product-grid.settings.quick_add_accessories_text.label"
        }
    ],
    "presets": [
        {
            "name": "Product Page Quick Add",
            "category": "Product",
            "settings": {
                "quick_add_type_mobile": "modal"
            }
        }
    ]
}

{% endschema %}