{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<div class="blog-container-for-desktop fix-direction page-width">
    <article class="article-template fix-direction">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="page-width">
          {% render block %}
        </div>
      {%- when 'featured_image' -%}
        {%- if article.image -%}
          <div class="article-template__hero-container" {{ block.shopify_attributes }}>
            <div
              class="article-template__hero-{{ block.settings.image_height }} media"
              {% if disabled_by_yoast_seo %}itemprop="image"{% endif %}
              {% if block.settings.image_height == 'adapt' and article.image %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              <img
                srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}"
              >
            </div>
          </div>
        {%- endif -%}

      {%- when 'title' -%}
        <header class="article-title-container" {{ block.shopify_attributes }}>
            <div class="blog-title-container">
                <h3 class="title--primary">{{ 'blogs.title' | t }}</h3>
                <span class="blog-black-line"></span>
            </div>
            {% render 'breadcrumbs' %}
          <h1 class="article-template__title" {% if disabled_by_yoast_seo %}itemprop="headline"{% endif %}>{{ article.title | escape }}</h1>
          {%- if block.settings.blog_show_date -%}
              {% render 'black-block' %}
            <span class="circle-divider caption-with-letter-spacing" {% if disabled_by_yoast_seo %}itemprop="dateCreated pubdate datePublished"{% endif %}>
              {{ article.published_at | date: "%Y/%m/%d" }}
            </span>
          {%- endif -%}
          {%- if block.settings.blog_show_author -%}
            <span class="caption-with-letter-spacing" {% if disabled_by_yoast_seo %}itemprop="author"{% endif %} {% if disabled_by_yoast_seo %}itemscope{% endif %} {% if disabled_by_yoast_seo %}itemtype="http://schema.org/Person"{% endif %}>
              <span {% if disabled_by_yoast_seo %}itemprop="name"{% endif %}>{{ article.author }}</span>
            </span>
          {%- endif -%}
        </header>

      {%- when 'content' -%}
        <div
          class="article-template__content rte"
          {% if disabled_by_yoast_seo %}itemprop="articleBody"{% endif %}
          {{ block.shopify_attributes }}
        >
          {{ article.content }}
        </div>

      {%- when 'share' -%}
        <div class="article-template__social-sharing page-width page-width--narrow" {{ block.shopify_attributes }}>
          {% assign share_url = request.origin | append: article.url %}
          {% render 'share-button', block: block, share_link: share_url %}
        </div>
        {% when 'brand_information' %}
        {% render 'social-icons' %}
    {%- endcase -%}
  {%- endfor -%}

        {% comment %}
  <div class="article-template__back element-margin-top center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
      {% comment %}{{ 'blogs.article.back_to_blog' | t: title: blog.title }}{% endcomment %}
        {{ 'blogs.article.back' | t }}
    </a>
  </div>
  {% endcomment %}
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                    ><span class="caption-with-letter-spacing">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}

          <div
            {% if blog.moderated? == false %}
              class="article-template__comments-fields"
            {% endif %}
          >
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span></label
              >
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.</span
                >
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
    </div>
  {%- endif -%}
</article>
    <div class="blog-extras desktop-only">
        <div class="most-viewed-posts">
            <div class="blog-title-container">
                <span class="blog-black-line"></span>
                <h2>{{ 'blogs.most-viewed-posts.title' | t }}</h2>
            </div>
            <div class="featured-posts">
                {% for article in blog.articles limit: 5 %}
                    <a href="{{ article.url }}" class="featured-post-link flex">
                        <span class="article-round">{{ forloop.index }}</span>
                        <div>
                            <strong class="most-view-article-title">{{ article.title | slice: 0, 35 }} ...</strong>
                            <p class="most-view-article-excerpt">{{ article.excerpt | strip_html | slice: 0,40 }}...</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <a href="{{ section.settings.tile_image_one_link }}" class="blog-featured-ad-link">
            {{ section.settings.tile_image_one | image_url: width: 1000 | image_tag:
            loading: 'lazy',
            class: "blog-featured-ad-image",
            sizes: "100vw",
            widths: '1000'
            }}
        </a>

        <a href="{{ section.settings.tile_image_two_link }}" class="blog-featured-ad-link">
            {{ section.settings.tile_image_two | image_url: width: 1000 | image_tag:
            loading: 'lazy',
            class: "blog-featured-ad-image",
            sizes: "100vw",
            widths: '1000'
            }}
        </a>
        <div class="article__articles">
            <h2 class="extra-articles">כתבות נוספות שבטוח תאהבי</h2>
            {% for article in blog.articles offset:2 limit:4 %}
                {% unless articleTitle == article.title %}
                    <a href="{{ article.url }}" class="article extra-article-card">
                        <img srcset="{{ article.image | img_url: '300x' }} 300w,
                   {{ article.image | img_url: '400x' }} 400w,
                   {{ article.image | img_url: '500x' }} 500w,
                   {{ article.image | img_url: '600x' }} 600w,"
                             src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title | escape }}" class="article-blog-img" />
                        <div class="blog__article--excerpt-ctn">
                            <div class="flex blog__article-date-ctn">
                                {% render 'black-block' %}
                                <p class="blog__article--created-at">{{ article.created_at | date: "%d/%m/%Y" }}</p>
                            </div>
                            <strong class="art-title">{{ article.title }}</strong>
                            <p class="art-paragraph">{{ article.excerpt | strip_html | truncatewords: 10 }}</p>
                        </div>
                    </a>
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.schema.useTheme.schema or yoast_seo_settings.schema.useTheme.article -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
{%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
</script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "tile_image_one",
            "label": "First side image",
            "info": "First image to show on the left side"
        },
        {
            "type": "url",
            "id": "tile_image_one_link",
            "label": "First side image link",
            "info": "First image link to show on the left side"
        },
        {
            "type": "image_picker",
            "id": "tile_image_two",
            "label": "Second side image",
            "info": "Second image to show on the left side"
        },
        {
            "type": "url",
            "id": "tile_image_two_link",
            "label": "Second side image link",
            "info": "Second image link to show on the left side"
        }
        ],
  "blocks": [
    {
      "type": "@app"
    },
      {
          "type": "brand_information",
          "name": "t:sections.footer.blocks.brand_information.name",
          "settings": [
              {
                  "type": "paragraph",
                  "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
              },
              {
                  "type": "header",
                  "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
              },
              {
                  "type": "checkbox",
                  "id": "show_social",
                  "default": true,
                  "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
                  "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
              }
          ]
      },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
