{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customer.js' | asset_url | script_tag }}

{% assign orderPagination = section.settings.order_pagination %}
{%- liquid
    if customer.tags contains 'swell_vip_basic'
        assign vipTier = 'Basic'
    elsif customer.tags contains 'swell_vip_plus'
        assign vipTier = 'Plus'
    elsif customer.tags contains 'swell_vip_premium'
        assign vipTier = 'Premium'
    elsif customer.tags contains 'swell_vip_legend'
        assign vipTier = 'Legend'
    elsif customer.tags contains 'ALIST'
        assign vipTier = 'Basic'
    else
        assign vipTier = 'None'
    endif
    -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account fix-direction section-{{ section.id }}-padding">
  <div>
      <h1 class="customer__title">{{ 'customer.account.title' | t: name: customer.first_name }}</h1>
  </div>

  <div class="account-desktop-container">
      <div>
          <div class="main-account-info-container main-account-info-container--loyalty">
              <h4 class="container-title bold">מועדון הלקוחות שלי</h4>
              <a href="/pages/a-list" class="container-menu-item">ALIST <span>{{ vipTier }}</span>
                  {% render 'icon-caret' %}
              </a>
              <p class="container-extra-info">קופי על מועדון לקוחות שווה</p>
          </div>
          <div>

              <div class="main-account-info-container main-account-info-container--my-account">
                  <h2 class="container-title bold">{{ 'customer.account.sub-title' | t }}</h2>
                  <span class="container-menu-item container-menu-item-orders-toggler toggle-orders">
                      {{ 'customer.orders.title' | t }}
                      {% render 'icon-caret' %}
                  </span>
                  <a href="{{ routes.account_addresses_url }}" class="container-menu-item container-menu-item--addresses">
                      {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
                      {% render 'icon-caret' %}
                  </a>
                  <a href="/pages/a-list#refer" class="container-menu-item container-menu-item-refer">{{ 'customer.orders.refer' | t }}
                      {% render 'icon-caret' %}
                  </a>

                  <div class="custom-orders-container mobile">
                <span class="toggle-orders-button toggle-orders">
                    {% render 'icon-caret' %}
                </span>
                      {% paginate customer.orders by customer.orders_count %}
                          {%- if customer.orders.size > 0 -%}
                              <table role="table" class="order-history">
                                  <caption class="visually-hidden">
                                      {{ 'customer.orders.title' | t }}
                                  </caption>
                                  <thead role="rowgroup">
                                  <tr role="row">
                                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                                      <th id="ColumnFulfillment" scope="col" role="columnheader">
                                          {{ 'customer.orders.fulfillment_status' | t }}
                                      </th>
                                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                                  </tr>
                                  </thead>
                                  <tbody role="rowgroup">
                                  {%- for order in customer.orders -%}
                                      <tr role="row">
                                          <td
                                                  id="RowOrder"
                                                  role="cell"
                                                  headers="ColumnOrder"
                                                  data-label="{{ 'customer.orders.order_number' | t }}"
                                          >
                                              <a
                                                      href="{{ order.customer_url }}" class="order-number-link"
                                                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                              >
                                                  {{ 'customer.order.title' | t: number: order.name }}
                                                  {% render 'icon-caret' %}
                                              </a>
                                          </td>
                                          <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                                              <a href="{{ order.customer_url }}" class="order-date-link no-decoration">
                                                  <span>{{ 'customer.order.date_done' | t }} {{ order.created_at | date: "%d/%m/%Y" }}</span>
                                              </a>
                                          </td>
                                          <td
                                                  headers="RowOrder ColumnFulfillment"
                                                  role="cell"
                                                  data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                                          >
                                             {{ 'customer.orders.fulfillment_status' | t }}: {{ 'customer.order.fulfillment_statuses.' | append: order.fulfillment_status_label | t }}
                                          </td>
                                          <td
                                                  headers="RowOrder ColumnImages"
                                                  role="cell"
                                                  data-label="{{ 'customer.orders.images' | t }}"
                                                  class="table-data-images"
                                          >
                                              {% for line_item in order.line_items %}
                                                  <div class="div-for-appending {% if forloop.index0 > 5 %}hidden{% endif %}">
                                                      <img src="{{ line_item.image | img_url: '160x' }}" alt="{{ product.title | escape }}" class="order-line-image" />
                                                      {% if order.line_items.size > 6 %}
                                                          {% if forloop.index0 == 5 %}
                                                              <p class="appended-p">+{{ order.line_items.size | minus:6 }}</p>
                                                          {% endif %}
                                                      {% endif %}
                                                  </div>
                                              {% endfor %}
                                          </td>
                                          <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                                              {{ 'customer.orders.total' | t }}: &nbsp; {{ order.total_net_amount | money_with_currency }}
                                          </td>
                                      </tr>
                                  {%- endfor -%}
                                  </tbody>
                              </table>
                          {%- else -%}
                              <div class="empty-orders">
                                  <p>{{ 'customer.orders.none' | t }}</p>
                                  <a href="{{ section.settings.shop_all_link }}" class="empty-orders--shop-all-link">
                                      {{ section.settings.shop_all_text }}
                                  </a>
                              </div>
                          {%- endif -%}

                          {%- if paginate.pages > 1 -%}
                              {%- if paginate.parts.size > 0 -%}
                                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                                      <ul role="list">
                                          {%- if paginate.previous -%}
                                              <li>
                                                  <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                                      </svg>
                                                  </a>
                                              </li>
                                          {%- endif -%}

                                          {%- for part in paginate.parts -%}
                                              <li>
                                                  {%- if part.is_link -%}
                                                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                                          {{- part.title -}}
                                                      </a>
                                                  {%- else -%}
                                                      {%- if part.title == paginate.current_page -%}
                                                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                                                      {%- else -%}
                                                          <span>{{ part.title }}</span>
                                                      {%- endif -%}
                                                  {%- endif -%}
                                              </li>
                                          {%- endfor -%}

                                          {%- if paginate.next -%}
                                              <li>
                                                  <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                                                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                                      </svg>
                                                  </a>
                                              </li>
                                          {%- endif -%}
                                      </ul>
                                  </nav>
                              {%- endif -%}
                          {%- endif -%}
                      {% endpaginate %}
                  </div>
              </div>

              <div class="main-account-info-container main-account-info-container--support">
                  <h2 class="container-title bold">{{ 'customer.account.support.title' | t }}</h2>
                  <a href="/page/our-promise" class="container-menu-item container-menu-item--our-promise">
                      {{ 'customer.account.support.our-promise' | t }}
                      {% render 'icon-caret' %}
                  </a>
                  <a href="/blogs/%D7%AA%D7%A7%D7%A0%D7%95%D7%A0%D7%99%D7%9D/%D7%AA%D7%A7%D7%A0%D7%95%D7%9F-%D7%94%D7%90%D7%AA%D7%A8" class="container-menu-item container-menu-item--terms">
                      {{ 'customer.account.support.terms' | t }}
                      {% render 'icon-caret' %}
                  </a>
                  <a href="/blogs/%D7%AA%D7%A7%D7%A0%D7%95%D7%A0%D7%99%D7%9D/%D7%9E%D7%93%D7%99%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A4%D7%A8%D7%98%D7%99%D7%95%D7%AA" class="container-menu-item container-menu-item-refer">
                      {{ 'customer.account.support.privacy-policy' | t }}
                      {% render 'icon-caret' %}
                  </a>
                  {% comment %}
                  <a href="{{ routes.account_logout_url }}" class="container-menu-item container-menu-item-refer">
                      {{ 'customer.log_out' | t }}
                      {% render 'icon-caret' %}
                  </a>{% endcomment %}
              </div>

          </div>
      </div>
      <div class="custom-orders-container">
                <span class="toggle-orders-button toggle-orders">
                    {% render 'icon-caret' %}
                </span>
          <div class="orders-and-description">
              <h2 class="desktop-orders-title"></h2>
              <p class="desktop-orders-description"></p>
          </div>
          {% paginate customer.orders by 6 %}
              {%- if customer.orders.size > 0 -%}
                  {% for order in customer.orders %}
                      <div class="main-account--desktop-order-container">
                          <div>
                              <div class="desktop-order-container-headers pointer">
                                  <div class="headers headers--order-number">
                                      <p><b>{{ 'customer.order.order_number' | t }}</b></p>
                                      <p>{{ order.name }}</p>
                                  </div>
                                  <div class="headers headers--order-date">
                                      <p><b>{{ 'customer.order.date_only' | t }}</b></p>
                                      <p>{{ order.created_at | date: "%d-%m-%Y" }}</p>
                                  </div>
                                  <div class="headers headers--order-status">
                                      <p><b>{{ 'customer.order.fulfillment_status' | t }}</b></p>
                                      <p>{{ 'customer.order.fulfillment_statuses.' | append: order.fulfillment_status_label | t }}</p>
                                  </div>
                                  <div class="plus-and-minus">
                                      {% render 'icon-plus' %}
                                      {% render 'icon-minus' %}
                                  </div>
                              </div>
                              <div class="desktop-order-data hidden">

                              </div>
                          </div>
                      </div>
                  {% endfor %}
                  <table role="table" class="order-history mobile--only">
                      <caption class="visually-hidden">
                          {{ 'customer.orders.title' | t }}
                      </caption>
                      <thead role="rowgroup">
                      <tr role="row">
                          <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                          <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                          <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                          <th id="ColumnFulfillment" scope="col" role="columnheader">
                              {{ 'customer.orders.fulfillment_status' | t }}
                          </th>
                          <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                      </tr>
                      </thead>
                      <tbody role="rowgroup">
                      {%- for order in customer.orders -%}
                          <tr role="row">
                              <td
                                      id="RowOrder"
                                      role="cell"
                                      headers="ColumnOrder"
                                      data-label="{{ 'customer.orders.order_number' | t }}"
                              >
                                  <a
                                          href="{{ order.customer_url }}"
                                          aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                  >
                                      {{ order.name }}
                                  </a>
                              </td>
                              <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                                  {{ order.created_at | date: "%d/%m/%Y" }}
                              </td>
                              <td
                                      headers="RowOrder ColumnPayment"
                                      role="cell"
                                      data-label="{{ 'customer.orders.payment_status' | t }}"
                              >
                                  {{ 'customer.order.payment_statuses.'| append: order.financial_status_label | t }}
                              </td>
                              <td
                                      headers="RowOrder ColumnFulfillment"
                                      role="cell"
                                      data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                              >
                                  {{ 'customer.orders.fulfillment_status' | t }}: {{ 'customer.order.fulfillment_statuses.' | append: order.fulfillment_status_label | t }}
                              </td>
                              <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                                  {{ order.total_net_amount | money_with_currency }}
                              </td>
                          </tr>
                      {%- endfor -%}
                      </tbody>
                  </table>
              {%- else -%}
                  <div class="empty-orders">
                      <p>{{ 'customer.orders.none' | t }}</p>
                      <a href="{{ section.settings.shop_all_link }}" class="empty-orders--shop-all-link">
                          {{ section.settings.shop_all_text }}
                      </a>
                  </div>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                  {%- if paginate.parts.size > 0 -%}
                      <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                          <ul role="list">
                              {%- if paginate.previous -%}
                                  <li>
                                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                          </svg>
                                      </a>
                                  </li>
                              {%- endif -%}

                              {%- for part in paginate.parts -%}
                                  <li>
                                      {%- if part.is_link -%}
                                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                              {{- part.title -}}
                                          </a>
                                      {%- else -%}
                                          {%- if part.title == paginate.current_page -%}
                                              <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                                          {%- else -%}
                                              <span>{{ part.title }}</span>
                                          {%- endif -%}
                                      {%- endif -%}
                                  </li>
                              {%- endfor -%}

                              {%- if paginate.next -%}
                                  <li>
                                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                          </svg>
                                      </a>
                                  </li>
                              {%- endif -%}
                          </ul>
                      </nav>
                  {%- endif -%}
              {%- endif -%}
          {% endpaginate %}
      </div>
  </div>

    <div class="main-account-info-container main-account-info-container--contact">
        <p>{{ 'customer.account.contact.title' | t }}</p>
        <div class="contact-icons-container">
            <div class="contact-icon-child">
                <a href="mailto:{{ shop.email }}">
                    {% render 'envelope' %}
                </a>
                <p class="contact-text">{{ 'customer.account.contact.email' | t }}</p>
            </div>
            <div class="contact-icon-child">
                <a href="tel:{{ shop.phone }}">
                    {% render 'telephone' %}
                </a>
                <p class="contact-text">{{ 'customer.account.contact.phone' | t }}</p>
            </div>
        </div>
        <p class="business-hours">{{ 'customer.account.contact.business-hours' | t }}</p>
    </div>

    <div class="container-menu-item container-menu-item--logout">
        <p>לא {{ customer.first_name }}?</p>
        <a class="logout-link" href="{{ routes.account_logout_url }}">
            {{ 'customer.log_out' | t }}
        </a>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
        "type": "url",
        "id": "shop_all_link",
        "label": "t:sections.main-account.shop_all_link"
    },
      {
        "type": "text",
        "id": "shop_all_text",
        "label": "t:sections.main-account.shop_all_text"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "order_pagination",
      "min": 0,
      "max": 20,
      "step": 1,
      "label": "t:sections.main-account.order-pagination",
      "default": 6
    }
  ],
    "blocks": [
        {
            "type":"link_list",
            "name":"t:sections.main-account.menu.name",
            "settings": [
                {
                    "type":"select",
                    "id": "heading_align",
                    "label": "t:sections.footer.blocks.link_list.settings.heading.label",
                    "default": "right",
                    "options": [
                        {
                            "value": "left",
                            "label": "t:sections.footer.blocks.link_list.settings.heading_align.options__1.label"
                        },
                        {
                            "value": "center",
                            "label": "t:sections.footer.blocks.link_list.settings.heading_align.options__2.label"
                        },
                        {
                            "value": "right",
                            "label": "t:sections.footer.blocks.link_list.settings.heading_align.options__3.label"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Quick links",
                    "label": "t:sections.footer.blocks.link_list.settings.heading.label"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.menu.label",
                    "info": "t:sections.footer.blocks.link_list.settings.menu.info"
                }
            ]
        }
    ]
}
{% endschema %}
