{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 15 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <div class="blog-title-container">
        <span class="blog-black-line"></span>
        <h1 class="title--primary">{{ 'blogs.title' | t }}</h1>
    </div>
      {% render 'breadcrumbs' %}

      <div class="blog-container-for-desktop fix-direction">
          <div class="blog-articles fix-direction {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
              {%- for article in blog.articles -%}
                  <div class="blog-articles__article article {% if forloop.first %}first-blog-articles__article{% endif %}">
                      {%- render 'article-card',
                              article: article,
                              media_height: section.settings.image_height,
                              media_aspect_ratio: article.image.aspect_ratio,
                              show_image: section.settings.show_image,
                              show_date: section.settings.show_date,
                              show_author: section.settings.show_author,
                              show_excerpt: true
                      -%}
                  </div>
              {%- endfor -%}
          </div>
          <div class="blog-extras desktop-only">
              <div class="most-viewed-posts">
                  <div class="blog-title-container">
                      <span class="blog-black-line"></span>
                      <h2>{{ 'blogs.most-viewed-posts.title' | t }}</h2>
                  </div>
                  <div class="featured-posts">
                      {% for article in blog.articles limit: 5 %}
                      <a href="{{ article.url }}" class="featured-post-link flex">
                          <span class="article-round">{{ forloop.index }}</span>
                          <div>
                              <strong class="most-view-article-title">{{ article.title | slice: 0, 35 }} ...</strong>
                              <p class="most-view-article-excerpt">{{ article.excerpt | strip_html | slice: 0,40 }}...</p>
                          </div>
                      </a>
                      {% endfor %}
                  </div>
              </div>
              <a href="{{ section.settings.tile_image_one_link }}" class="blog-featured-ad-link">
                  {{ section.settings.tile_image_one | image_url: width: 1000 | image_tag:
                  loading: 'lazy',
                  class: "blog-featured-ad-image",
                  sizes: "100vw",
                  widths: '1000'
                  }}
              </a>

              <a href="{{ section.settings.tile_image_two_link }}" class="blog-featured-ad-link">
                  {{ section.settings.tile_image_two | image_url: width: 1000 | image_tag:
                  loading: 'lazy',
                  class: "blog-featured-ad-image",
                  sizes: "100vw",
                  widths: '1000'
                  }}
              </a>
          </div>
      </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
        "type": "image_picker",
        "id": "tile_image_one",
        "label": "First side image",
        "info": "First image to show on the left side"
    },
      {
        "type": "url",
        "id": "tile_image_one_link",
        "label": "First side image link",
        "info": "First image link to show on the left side"
      },
      {
          "type": "image_picker",
          "id": "tile_image_two",
          "label": "Second side image",
          "info": "Second image to show on the left side"
      },
      {
        "type": "url",
        "id": "tile_image_two_link",
        "label": "Second side image link",
        "info": "Second image link to show on the left side"
      },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
