{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'order.js' | asset_url | script_tag }}

{% assign finStat = order.financial_status_label %}
{% assign fulfillStat = order.fulfillment_status_label %}

{%- liquid
    if customer.tags contains 'swell_vip_basic'
        assign vipTier = 'Basic'
    elsif customer.tags contains 'swell_vip_plus'
        assign vipTier = 'Plus'
    elsif customer.tags contains 'swell_vip_premium'
        assign vipTier = 'Premium'
    elsif customer.tags contains 'swell_vip_legend'
        assign vipTier = 'Legend'
    elsif customer.tags contains 'ALIST'
        assign vipTier = 'Basic'
    else
        assign vipTier = 'None'
    endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

    .account-desktop-container {
    display: none;
    }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer order fix-direction section-{{ section.id }}-padding">
  <svg style="display:none">
    <symbol id="icon-discount" viewBox="0 0 12 12">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
    </symbol>
  </svg>
  <div class="main-order-header-container">
    <h1 class="customer__title">{{ 'customer.order.details' | t }}</h1>
    <a href="{{ routes.account_url }}" class="main-order-header-caret">
        {% render 'icon-caret' %}
    </a>
  </div>

  <div class="order-main-container-desktop">
      <div class="account-desktop-container">
          <div>
              <div class="main-account-info-container main-account-info-container--loyalty">
                  <h4 class="container-title bold">מועדון הלקוחות שלי</h4>
                  <a href="/pages/a-list" class="container-menu-item">ALIST <span>{{ vipTier }}</span>
                      {% render 'icon-caret' %}
                  </a>
                  <p class="container-extra-info">קופי על מועדון לקוחות שווה</p>
              </div>
              <div>

                  <div class="main-account-info-container main-account-info-container--my-account">
                      <h2 class="container-title bold">{{ 'customer.account.sub-title' | t }}</h2>
                      <a href="/account" class="container-menu-item container-menu-item-orders-toggler toggle-orders">
                      {{ 'customer.orders.title' | t }}
                          {% render 'icon-caret' %}
                  </a>
                      <a href="{{ routes.account_addresses_url }}" class="container-menu-item container-menu-item--addresses">
                          {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
                          {% render 'icon-caret' %}
                      </a>
                      <a href="/pages/a-list#refer" class="container-menu-item container-menu-item-refer">{{ 'customer.orders.refer' | t }}
                          {% render 'icon-caret' %}
                      </a>

                      <div class="custom-orders-container mobile">
                <span class="toggle-orders-button toggle-orders">
                    {% render 'icon-caret' %}
                </span>
                          {% paginate customer.orders by customer.orders_count %}
                              {%- if customer.orders.size > 0 -%}
                                  <table role="table" class="order-history">
                                      <caption class="visually-hidden">
                                          {{ 'customer.orders.title' | t }}
                                      </caption>
                                      <thead role="rowgroup" class="hidden">
                                      <tr role="row">
                                          <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                                          <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                                          <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                                          <th id="ColumnFulfillment" scope="col" role="columnheader">
                                              {{ 'customer.orders.fulfillment_status' | t }}
                                          </th>
                                          <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                                      </tr>
                                      </thead>
                                      <tbody role="rowgroup">
                                      {%- for order in customer.orders -%}
                                          <tr role="row">
                                              <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                                                  <a href="{{ order.customer_url }}" class="order-date-link no-decoration">
                                                      <span>{{ 'customer.order.date_done' | t }} {{ order.created_at | date: "%d/%m/%Y" }}</span>
                                                      {% render 'icon-caret' %}
                                                  </a>
                                              </td>
                                              <td
                                                      headers="RowOrder ColumnFulfillment"
                                                      role="cell"
                                                      data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                                              >
                                                  {{ 'customer.order.fulfillment_statuses.' | append: order.fulfillment_status_label | t }}
                                              </td>
                                              <td
                                                      headers="RowOrder ColumnImages"
                                                      role="cell"
                                                      data-label="{{ 'customer.orders.images' | t }}"
                                                      class="table-data-images"
                                              >
                                                  {% for line_item in order.line_items %}
                                                      <div class="div-for-appending {% if forloop.index0 > 5 %}hidden{% endif %}">
                                                          <img src="{{ line_item.image | img_url: '160x' }}" alt="{{ product.title | escape }}" class="order-line-image" />
                                                          {% if order.line_items.size > 6 %}
                                                              {% if forloop.index0 == 5 %}
                                                                  <p class="appended-p">+{{ order.line_items.size | minus:6 }}</p>
                                                              {% endif %}
                                                          {% endif %}
                                                      </div>
                                                  {% endfor %}
                                              </td>
                                              <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                                                  {{ order.total_net_amount | money_with_currency }}
                                              </td>
                                              <td
                                                      id="RowOrder"
                                                      role="cell"
                                                      headers="ColumnOrder"
                                                      data-label="{{ 'customer.orders.order_number' | t }}"
                                              >
                                                  <a
                                                          href="{{ order.customer_url }}"
                                                          aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                                  >
                                                      {{ 'customer.order.title' | t: number: order.name }}
                                                  </a>
                                              </td>
                                          </tr>
                                      {%- endfor -%}
                                      </tbody>
                                  </table>
                              {%- else -%}
                                  <p>{{ 'customer.orders.none' | t }}</p>
                              {%- endif -%}

                              {%- if paginate.pages > 1 -%}
                                  {%- if paginate.parts.size > 0 -%}
                                      <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                                          <ul role="list">
                                              {%- if paginate.previous -%}
                                                  <li>
                                                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                                          </svg>
                                                      </a>
                                                  </li>
                                              {%- endif -%}

                                              {%- for part in paginate.parts -%}
                                                  <li>
                                                      {%- if part.is_link -%}
                                                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                                              {{- part.title -}}
                                                          </a>
                                                      {%- else -%}
                                                          {%- if part.title == paginate.current_page -%}
                                                              <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                                                          {%- else -%}
                                                              <span>{{ part.title }}</span>
                                                          {%- endif -%}
                                                      {%- endif -%}
                                                  </li>
                                              {%- endfor -%}

                                              {%- if paginate.next -%}
                                                  <li>
                                                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                                                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                                          </svg>
                                                      </a>
                                                  </li>
                                              {%- endif -%}
                                          </ul>
                                      </nav>
                                  {%- endif -%}
                              {%- endif -%}
                          {% endpaginate %}
                      </div>
                  </div>

                  <div class="main-account-info-container main-account-info-container--support">
                      <h2 class="container-title bold">{{ 'customer.account.support.title' | t }}</h2>
                      <a href="/pages/about-us" class="container-menu-item container-menu-item--our-promise">
                          {{ 'customer.account.support.our-promise' | t }}
                          {% render 'icon-caret' %}
                      </a>
                      <a href="/blogs/%D7%AA%D7%A7%D7%A0%D7%95%D7%A0%D7%99%D7%9D/%D7%AA%D7%A7%D7%A0%D7%95%D7%9F-%D7%94%D7%90%D7%AA%D7%A8" class="container-menu-item container-menu-item--terms">
                          {{ 'customer.account.support.terms' | t }}
                          {% render 'icon-caret' %}
                      </a>
                      <a href="/blogs/%D7%AA%D7%A7%D7%A0%D7%95%D7%A0%D7%99%D7%9D/%D7%9E%D7%93%D7%99%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A4%D7%A8%D7%98%D7%99%D7%95%D7%AA" class="container-menu-item container-menu-item-refer">
                          {{ 'customer.account.support.privacy-policy' | t }}
                          {% render 'icon-caret' %}
                      </a>
                      <a href="{{ routes.account_logout_url }}" class="container-menu-item container-menu-item-refer">
                          {{ 'customer.log_out' | t }}
                          {% render 'icon-caret' %}
                      </a>
                  </div>

              </div>
          </div>
      </div>
      <div class="order-details-container">
          <div class="order--first-part">

              <div class="main-order-information fix-direction">
                  <div class="flex">
                      <p>{{ 'customer.order.order_number' | t }} <b>{{ order.name }}</b></p>
                      <p>{{ 'customer.order.total' | t }}</p>
                  </div>
                  <div class="flex">
                      <div>
                          {% assign order_date = order.created_at | date: "%d-%m-%Y" %}
                          <p>{{ 'customer.order.date_only' | t }} <b>{{ order_date }}</b></p>
                          {%- if order.cancelled -%}
                              {% assign cancelled_at = order.cancelled_at | date: "%d/%m/%Y" %}
                              <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                              <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                          {%- endif -%}
                      </div>
                      <p><b>{{ order.total_net_amount | money_with_currency }}</b></p>
                  </div>
                  <div class="flex">
                      <p>{{ 'customer.order.items' | t }}: <b>{{ order.line_items.size }}</b></p>
                      {% if order.fulfillment_status == 'fulfilled' %}
                          <a href="/a/return?email={{ order.email }}&orderId={{ order.name }}" class="underlined-link">
                              {{ 'customer.order.returns_and_exchanges' | t }}
                          </a>
                      {% endif %}
                  </div>
              </div>

              <table role="table" class="order-details">
                  <caption class="visually-hidden">
                      {{ 'customer.order.title' | t: name: order.name }}
                  </caption>
                  <thead role="rowgroup" class="hidden">
                  <tr role="row">
                      <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
                      <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
                      <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
                      <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
                  </tr>
                  </thead>
                  <tbody role="rowgroup">
                  {%- for line_item in order.line_items -%}
                      <tr role="row">
                          <td headers="ColumnProductImage" role="rowheader" scope="row" data-label="{{ 'customer.order.product_image' | t }}">
                              <a href="{{ product.url }}" class="order-line-item-link">
                                  <img
                                          srcset="
                                  {%- if line_item.product.featured_media.width >= 165 -%}{{ line_item.product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if line_item.product.featured_media.width >= 360 -%}{{ line_item.product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if line_item.product.featured_media.width >= 533 -%}{{ line_item.product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if line_item.product.featured_media.width >= 720 -%}{{ line_item.product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if line_item.product.featured_media.width >= 940 -%}{{ line_item.product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if line_item.product.featured_media.width >= 1066 -%}{{ line_item.product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ line_item.product.featured_media | image_url }} {{ line_item.product.featured_media.width }}w
                                "
                                          src="{{ line_item.product.featured_media | image_url: width: 533 }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                          alt="{{ line_item.product.title | escape }}"
                                          class="order-line-item-link--image"
                                          {% unless lazy_load == false %}
                                              loading="lazy"
                                          {% endunless %}
                                          width="{{ line_item.product.featured_media.width }}"
                                          height="{{ line_item.product.featured_media.height }}"
                                  >
                              </a>
                          </td>
                          <td
                                  id="Row{{ line_item.key }}"
                                  headers="ColumnProduct"
                                  role="rowheader"
                                  scope="row"
                                  data-label="{{ 'customer.order.product' | t }}"
                          >
                              <div>
                                  {%- if line_item.url != blank -%}
                                      {% if line_item.product.tags contains 'מתנה' %}
                                          <p>{{ line_item.title }}</p>
                                      {% else %}
                                          <a href="{{ line_item.url }}">{{ line_item.title }} {{ line_item.vendor }}</a>
                                      {% endif %}
                                  {%- else -%}
                                      <p>{{ line_item.title }} {{ line_item.vendor }}</p>
                                  {%- endif -%}
                                  {%- assign property_size = line_item.properties | size -%}
                                  {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
                                      <div class="properties">
                                          {%- unless line_item.product.has_only_default_variant -%}
                                              <span>
                          {{ line_item.variant.title }}
                        </span>
                                          {%- endunless -%}
                                          {%- unless line_item.selling_plan_allocation == null -%}
                                              <span>
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        </span>
                                          {%- endunless -%}
                                          {%- if property_size != 0 -%}
                                              {%- for property in line_item.properties -%}
                                                  {% assign property_first_char = property.first | slice: 0 %}
                                                  {%- if property.last != blank and property_first_char != '_' -%}
                                                      <span>
                              {{ property.first }}:&nbsp;
                              {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                              {%- else -%}
                                  {{ property.last }}
                              {%- endif -%}
                            </span>
                                                  {%- endif -%}
                                              {%- endfor -%}
                                          {%- endif -%}
                                      </div>
                                  {%- endunless -%}

                                  {%- if line_item.line_level_discount_allocations != blank -%}
                                      <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                              <li class="discounts__discount">
                                                  {{- discount_allocation.discount_application.title }} (-
                                                  {{- discount_allocation.amount | money -}}
                                                  )
                                              </li>
                                          {%- endfor -%}
                                      </ul>
                                  {%- endif -%}

                                  {%- if line_item.fulfillment -%}
                                      <div class="fulfillment">
                                          {%- assign created_at = line_item.fulfillment.created_at | date: "%d/%m/%Y" -%}
                                          <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

                                          {%- if line_item.fulfillment.tracking_url -%}
                                              <a href="{{ line_item.fulfillment.tracking_url }}">
                                                  {{ 'customer.order.track_shipment' | t }}
                                              </a>
                                          {%- endif -%}
                                          <span>
                                              {% if line_item.fulfillment.tracking_company == 'Other' %}
                                              {{ 'customer.order.shipping_company' | t }}
                                              {% else %}
                                            {{ line_item.fulfillment.tracking_company }}
                                            {% endif %}
                                              {%- if line_item.fulfillment.tracking_number -%}
                                                  #{{ line_item.fulfillment.tracking_number }}
                                              {%- endif -%}
                      </span>
                                      </div>
                                  {%- endif -%}
                              </div>
                          </td>
                          {% comment %}
                          <td
                                  headers="Row{{ line_item.key }} ColumnPrice"
                                  role="cell"
                                  data-label="{{ 'customer.order.price' | t }}"
                          >
                              {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                                  <dl class="flex price__sale price--on-sale">
                                      {%- if line_item.original_price != line_item.final_price -%}
                                          <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                          </dt>
                                          <dd class="regular-price price-item--regular">
                                              <s>{{ line_item.original_price | money }}</s>
                                          </dd>
                                          <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                          </dt>
                                          <dd class="price-item price-item--sale">
                                              <span>{{ line_item.final_price | money }}</span>
                                          </dd>
                                      {%- else -%}
                                          <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                          </dt>
                                          <dd>
                                              {{ line_item.original_price | money }}
                                          </dd>
                                      {%- endif -%}
                                      {%- if line_item.unit_price_measurement -%}
                                          <dt>
                                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                          </dt>
                                          <dd class="unit-price">
                        <span>
                          {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span
                              ><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                            {%- capture unit_price_base_unit -%}
                                {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                    {{- line_item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ line_item.unit_price_measurement.reference_unit }}
                            {%- endcapture -%}
                          <span data-unit-price>{{ line_item.unit_price | money }}</span>
                          {{- unit_price_separator -}}
                            {{- unit_price_base_unit -}}
                        </span>
                                          </dd>
                                      {%- endif -%}
                                  </dl>
                              {%- else -%}
                                  <span>{{ line_item.final_price | money }}</span>
                              {%- endif -%}
                          </td>
                          {% endcomment %}
                          <td
                                  headers="Row{{ line_item.key }} ColumnQuantity"
                                  role="cell"
                                  data-label="{{ 'customer.order.quantity' | t }}"
                          >
                              {{ 'customer.order.quantity' | t }} {{ line_item.quantity }}
                          </td>
                          {% if line_item.product.tags contains 'noReturns' %}
                          <td
                                  headers="Row{{ line_item }} ColumnReturns"
                                  role="cell"
                                  data-label="{{ 'customer.order.returns' | t }}"
                                  class="no-returns-table-data fulfillment"
                          >
                              {{ 'customer.order.no_returns' | t }}
                          </td>
                          {% endif %}
                          <td
                                  headers="Row{{ line_item.key }} ColumnTotal"
                                  role="cell"
                                  data-label="{{ 'customer.order.total' | t }}"
                          >
                              {%- if line_item.original_line_price != line_item.final_line_price -%}
                                  <dl class="flex price__sale price--on-sale">
                                      <dt>
                                          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                      </dt>
                                      <dd class="regular-price price-item--regular">
                                          <s>{{ line_item.original_line_price | money }}</s>
                                      </dd>
                                      <dt>
                                          <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                      </dt>
                                      <dd class="price-item price-item--sale">
                                          <span>{{ line_item.final_line_price | money }}</span>
                                      </dd>
                                  </dl>
                              {%- else -%}
                                  {{ line_item.original_line_price | money }}
                              {%- endif -%}
                          </td>
                          {% if line_item.product.tags contains 'noReturns' %}
                          <td class="more-returns-info">
                              <div class="flex">
                                  <p>{{ 'customer.order.returns_and_exchanges' | t }}</p>
                                  {% render 'icon-caret' %}
                              </div>
                              <div class="hidden">
                                  <p>{{ 'customer.order.returns_and_exchanges_info' | t }}</p>
                                  <a href="/blogs/policies/החזרות-והחלפות" class="underlined-link">{{ 'customer.order.return_policy' | t }}</a>
                              </div>
                          </td>
                          {% endif %}
                      </tr>
                  {%- endfor -%}
                  </tbody>
                  <tfoot role="rowgroup">
                  <tr role="row">
                      <td id="RowOrderNumber" role="rowheader" scope="row" colspan="4">
                          <p><b>{{ 'customer.order.order_number' | t }}</b></p>
                          <p>{{ order.name }}</p>
                      </td>
                      <td id="RowOrderTransactionDate" role="rowheader" scope="row" colspan="4">
                          <p><b>{{ 'customer.order.transaction_date' | t }}</b></p>
                          <p>{{ order.created_at | date: "%d/%m/%Y" }}</p>
                      </td>
                      <td id="RowOrderBilling" role="rowheader" scope="row" colspan="4">
                          <div>
                              <p><b>{{ 'customer.order.billing_address' | t }}</b></p>
                              {{ order.billing_address | format_address }}
                          </div>
                      </td>
                      <td id="RowOrderShipping" role="rowheader" scope="row" colspan="4">
                          <div>
                              <p><b>{{ 'customer.order.shipping_address' | t }}</b></p>
                              {{ order.shipping_address | format_address }}
                          </div>
                      </td>
                      {%- if order.total_refunded_amount > 0 -%}
                          <td
                                  headers="RowTotalRefund"
                                  role="cell"
                                  colspan="4"
                                  data-label="{{ 'customer.order.total_refunded' | t }}"
                          >
                              <p><b>{{ 'customer.order.total_refunded' | t }}</b></p>
                              <p>-{{ order.total_refunded_amount | money_with_currency }}</p>
                          </td>
                      {%- endif -%}
                      <td class="order-summary" id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                          <p><b>{{ 'customer.order.summary' | t }}</b></p>
                          <div class="flex">
                              <p>{{ 'customer.order.subtotal' | t }} ({{ order.line_items.size }})</p>
                              <p>{{ order.line_items_subtotal_price | money }}</p>
                          </div>
                          <div class="flex">
                              {%- for shipping_method in order.shipping_methods -%}
                                  <p>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</p>
                                  <p>{{ shipping_method.price | money }}</p>
                              {%- endfor -%}
                          </div>
                      </td>
                      <td class="order-summary order-summary-totals" id="RowTotal" role="rowheader" scope="row" colspan="3">
                          <div class="flex">
                              <p><b>{{ 'customer.order.total' | t }}</b></p>
                              <p><b>{{ order.total_net_amount | money_with_currency }}</b></p>
                          </div>
                      </td>
                  </tr>
                  {%- if order.cart_level_discount_applications != blank -%}
                      <tr role="row">
                          {%- for discount_application in order.cart_level_discount_applications -%}
                              <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                                  {{ 'customer.order.discount' | t }}
                                  <span class="cart-discount">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                      <use href="#icon-discount" />
                    </svg>
                    {{- discount_application.title -}}
                  </span>
                              </td>
                              <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                                  <div>
                                      <span>-{{ discount_application.total_allocated_amount | money }}</span>
                                      <span class="cart-discount">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                        <use href="#icon-discount" />
                      </svg>
                      {{- discount_application.title -}}
                    </span>
                                  </div>
                              </td>
                          {%- endfor -%}
                      </tr>
                  {%- endif -%}
                  {% comment %}
                  {%- for tax_line in order.tax_lines -%}
                      <tr role="row">
                          <td id="RowTax" role="rowheader" scope="row" colspan="4">
                              {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
                              {{ tax_line.rate | times: 100 }}%)
                          </td>
                          <td
                                  headers="RowTax"
                                  role="cell"
                                  data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)"
                          >
                              {{ tax_line.price | money }}
                          </td>
                      </tr>
                  {%- endfor -%}
                  {% endcomment %}
                  {%- if order.total_duties -%}
                      <tr role="row">
                          <td id="RowDuties" role="rowheader" scope="row" colspan="4">{{ 'customer.order.total_duties' | t }}</td>
                          <td headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">
                              {{ order.total_duties | money }}
                          </td>
                      </tr>
                  {%- endif -%}
                  </tfoot>
              </table>
          </div>
      </div>
      <div class="order--second-part page-width">
          <div class="main-account-info-container main-account-info-container--contact">
              <p>{{ 'customer.account.contact.title' | t }}</p>
              <div class="contact-icons-container">
                  <div class="contact-icon-child">
                      <a href="mailto:{{ shop.email }}">
                          {% render 'envelope' %}
                      </a>
                      <p class="contact-text">{{ 'customer.account.contact.email' | t }}</p>
                  </div>
                  <div class="contact-icon-child">
                      <a href="tel:{{ shop.phone }}">
                          {% render 'telephone' %}
                      </a>
                      <p class="contact-text">{{ 'customer.account.contact.phone' | t }}</p>
                  </div>
              </div>
              <p class="business-hours">{{ 'customer.account.contact.business-hours' | t }}</p>
          </div>

          <div class="container-menu-item container-menu-item--logout">
              <p>לא {{ customer.first_name }}?</p>
              <a class="logout-link" href="{{ routes.account_logout_url }}">
                  {{ 'customer.log_out' | t }}
              </a>
          </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
