{% layout 'theme' %}

{% assign articleTitle = article.title %}
{{ 'template-support.js' | asset_url | script_tag }}
{{ 'template-support.css' | asset_url | stylesheet_tag }}

<style>

    .article__blog-grid {
        padding: 0;
    }

    @media (min-width: 769px) {
        .blog-image-ctn, .mobile-phone {
            display: none !important;
        }
    }

</style>

<main class="supportful__ctn fix-direction">
    <a href="/pages/client-care">
        <h2 class="supportful__main-title englishFont text-center">Client Care</h2>
    </a>

    <h2 class=" text-center blog__title-atArt">{{ blog.title }}</h2>

    <div class="supportful__grid-for-desk">

        <section class="supportful__articles-select-ctn">
            <div class="supportful__flex-blog">
                <p class="supportful__open-articles ">בחירת קטגוריה</p>
                {% render 'icon-caret' %}
            </div>
            <ul class="supportful__article-ul  hidden">
                <li class="supportful__article-li">
                    <a href="/blogs/policies/מדיניות-המשלוחים-שלנו" class="">מדיניות</a>
                </li>
                <li class="supportful__article-li">
                    <a href="/blogs/תקנונים" class="">מידע כללי</a>
                </li>
            </ul>
        </section>

        <section class="choose-article  {{ article.metafields.custom.hidemenu }}">
            <div class="article-ctn article-ctn--first">
                <div class="supportful__flex-blog">
                    <p class="supportful__open-articles ">בחירת נושא</p>
                    {% render 'icon-caret' %}
                </div>
                <ul class="supportful__article-ul hidden">
                    {% for article in blog.articles %}
                        <li class="supportful__article-li">
                            <a href="{{ article.url }}" class=" link-for-js">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="article-ctn article-ctn--second " {% if article.metafields.custom.hidemenu == 'none' %}style="grid-column: 1/3;"{% endif %}>
            <article class="article-for-html">
                <div class="back-to-where">
                    {% if article.title == 'תקנון מועדון הלקוחות' %}
                        <p class="article-content--date {{ article.title }}">עודכן בתאריך: 01-01-2022</p>
                    {% else %}
                        <p class="article-content--date">עודכן בתאריך: {{ article.updated_at | date: '%d-%m-%Y' }}</p>
                    {% endif %}
                    <a href="/pages/client-care" class="back-to-blog back-to-blog-static">חזרה</a>
                </div>
                <h5 class="article-content--title text-center">{{ article.title }}</h5>
                <div class="article-content">{{ article.content }}</div>
            </article>
        </section>
        <div class="{{ article.metafields.custom.hidemenu }}">&nbsp;</div>
        <section class="article-ctn article-ctn--third " {% if article.metafields.custom.hidemenu == 'none' %}style="grid-column: 1/3;"{% endif %}>
            <p class="hear-from-you">אם יש לך שאלות נוספות, נשמח לשמוע ממך:</p>
            <div class="all-contact">
                <a href="tel:{{ shop.phone }}" class="link-to-contact">{% render 'phone' %}</a>
            </div>
        </section>
    </div>

</main>